{% extends "account/base.html" %}
{% load i18n %}
{% block scripts %}
    <script>
        $('input').css({
            'width': 100 + '%', 'color': 'grey',
            'padding': 12 + 'px', 'border': 1 + 'px solid #ffc107'
        });
        $('.errorlist').addClass('w3-red');
        $('.socialaccount_providers').addClass('list-group');
        $('.socialaccount_provider').addClass('btn-block btn')
                .addClass('w3-deep-orange')
                .addClass('disabled')
                .addClass('w3-margin-bottom');
        {#        $('.socialaccount_provider').addClass('w3-light-grey');#}
    </script>
{% endblock %}
{% load account socialaccount %}
{% load staticfiles %}
{% block head_title %}{% trans "Sign In" %}{% endblock %}
{% block _navbar %}
    {% include 'header.html' with active_link='all' %}
{% endblock %}
{% block content %}
    <div class="">
        <!------------------------------------------------------------->
        <div style="min-height: 100vh" class="c-width-100 w3-display-container w3-text-light-grey c-overflow-hidden">
            <img style="min-height: 100vh" class="c-width-100 c-hide600"
                 src="{% static 'this_project/img/hatam-camp/jahadi1.jpg' %}">
            <img style="min-height: 100vh" class="c-width-100 c-show600"
                 src="{% static 'this_project/img/hatam-camp/jahadi1-1.jpg' %}">
            <div class="w3-display-container w3-display-middle w3-large w3-black"
                 style="width: 100%; height: 100%;opacity: .6">
            </div>
            <div class="w3-display-middle w3-large">
                <div class="w3-container w3-padding w3-border w3-border-amber ">
                    <h1 class="w3-center w3-text-amber">{% trans "Sign In" %}</h1>

                    {% get_providers as socialaccount_providers %}

                    {% if socialaccount_providers %}
                        <div class="w3-center">{% blocktrans with site.name as site_name %}اگر اکانت ندارید میتوانید با
                            اکانت گوگل
                            خود وارد شوید یا از طریق این لینک
                            <a class="w3-text-amber" href="{{ signup_url }}">ثبت نام</a> کنید.
                        {% endblocktrans %}</div>

                        <div class="socialaccount_ballot">

                            <ul class="socialaccount_providers">
                                {% include "socialaccount/snippets/provider_list.html" with process="login" %}
                            </ul>

                            <div class="login-or">{% trans 'or' %}</div>

                        </div>

                        {% include "socialaccount/snippets/login_extra.html" %}

                    {% else %}
                        <p>{% blocktrans %}If you have not created an account yet, then please
                            <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
                    {% endif %}

                    <form class="login" method="POST" action="{% url 'account_login' %}">
                        {% csrf_token %}
                        {{ form.as_p }}
                        {% if redirect_field_value %}
                            <input type="hidden" name="{{ redirect_field_name }}"
                                   value="{{ redirect_field_value }}"/>
                        {% endif %}
                        <a class="button secondaryAction w3-margin-left w3-hover-text-amber"
                           href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
                        <button class="w3-deep-orange w3-round-jumbo w3-btn w3-padding primaryAction w3-margin-right"
                                type="submit">{% trans "Sign In" %}</button>
                    </form>
                </div>
            </div>
        </div>
        <!------------------------------------------------------------->
    </div>
{% endblock %}
