{% extends "account/base.html" %}

{% load i18n %}
{% load staticfiles %}
{% block scripts %}
    <script>
        $('input').css({
            'width': 100 + '%', 'color': 'grey',
            'padding': 12 + 'px', 'border': 1 + 'px solid #ffc107'
        });
        $('.errorlist').addClass('w3-red').addClass('w3-center')
    </script>
{% endblock %}
{% block head_title %}{% trans "Signup" %}{% endblock %}
{% block _navbar %}
    {% include 'header.html' with active_link='all' %}
{% endblock %}
{% block content %}
    <div style="min-height: 100vh" class="c-width-100 w3-display-container w3-text-light-grey c-overflow-hidden">
        <img style="min-height: 100vh" class="c-width-100 c-hide600"
             src="{% static 'this_project/img/Tahery/signup1.JPG' %}">
        <img style="min-height: 100vh" class="c-width-100 c-show600"
             src="{% static 'this_project/img/Tahery/signup2.JPG' %}">
        <div class="w3-display-container w3-display-middle w3-large w3-black"
             style="width: 100%; height: 100%;opacity: .8">
        </div>
        <div class="w3-display-middle w3-large">
            <div class="w3-border w3-border-amber w3-container w3-padding">
                <h1 class="w3-text-amber w3-center">{% trans "Sign Up" %}</h1>

                <p>{% blocktrans %}قبلا ثبت نام کردی؟ وارد شو <a href="{{ login_url }}">ورود</a>
                    .{% endblocktrans %}</p>

                <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
                    {% csrf_token %}
                    {{ form.as_p }}
                    {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                    {% endif %}
                    <div class="w3-center">
                        <button class="w3-btn w3-padding w3-amber" type="submit">{% trans "Sign Up" %} &raquo;</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
