{% extends 'base.html' %}
{% load tags %}
{% load staticfiles %}
{% block styles %}
{% endblock styles %}
{% block scripts %}
{% endblock %}
{% block _navbar %}
    {% include 'header.html' %}
{% endblock %}
{% block content %}

    <div id="tow_way" class="w3-light-grey" style="min-height: 94vh">
        <br>
        <br>
        <br>
        <div class="w3-row">
            <div class="w3-col s1 m1 l2 c-height-1-px"></div>
            <div class="w3-col s10 m10 l8">
                <h1 class="w3-center w3-text-deep-orange">شما از حاتم چه میخواهید ؟</h1>
                <h3 class="w3-center w3-text-teal">لطفا یکی از گزینه های زیر را انتخاب کنید تا بتوانیم شما را راهنمایی
                    کنیم.</h3>
            </div>
            <div class="w3-col s1 m1 l2 c-height-1-px"></div>
        </div>
        <div class="w3-row">
            <div class="w3-col s12 m6 l6">
                <div class="w3-col m1 l3 c-height-1-px"></div>
                <div class="w3-col s12 m10 l7 w3-padding">
                    <div class="c-overflow-hidden w3-border w3-border-amber w3-display-container w3-round">
                        <img class="c-width-100"
                             src="{% static 'this_project/img/hatam-camp/photo_2017-02-14_22-42-25.jpg' %}"
                             alt="">
                        <div class="w3-display-container w3-display-middle w3-large w3-black"
                             style="width: 100%; height: 100%;opacity: .4"></div>
                        <div class="w3-display-middle  w3-center">
                            <h3 class="c-font-yekan w3-center w3-text-white">
                                من مسئول یک موسسه هستم و می خواهم آن را در حاتم ثبت کنم.

                            </h3>
                            <br>
                            <a href="/charity/continue_fill?tem_key=institute"
                               class="w3-padding w3-btn w3-deep-orange">ثبت اطلاعات موسسه</a>
                            <br>
                        </div>
                    </div>
                </div>
                <div class="w3-col m1 l2 c-height-1-px"></div>
            </div>
            <div class="w3-col s12 m6 l6">
                <div class="w3-col m1 l2 c-height-1-px"></div>
                <div class="w3-col s12 m10 l7 w3-padding">
                    <div class="c-overflow-hidden w3-border w3-border-amber w3-display-container w3-round">
                        <img class="c-width-100"
                             src="{% static 'this_project/img/hatam-camp/photo_2017-02-14_22-32-33.jpg' %}"
                             alt="">
                        <div class="w3-display-container w3-display-middle w3-large w3-black"
                             style="width: 100%; height: 100%;opacity: .4"></div>
                        <div class="w3-display-middle w3-center">
                            <h3 class="c-font-yekan w3-center w3-text-white">
                                میخواهم در کارهای خیر کمک کنم.

                            </h3>
                            <br>
                            <a href="/charity/all_hip/Project"
                               class="w3-padding w3-btn w3-deep-orange">دیدن فرصت های خیر</a>
                            <br>
                        </div>
                    </div>
                </div>
                <div class="w3-col m1 l3 c-height-1-px"></div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block footer %}
    {% include 'footer.html' %}
{% endblock %}