{#<!DOCTYPE html>#}
{#<html>#}
{#  <head>#}
{#    <title>Geocoding service</title>#}
{#    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">#}
{#    <meta charset="utf-8">#}
{#    <style>#}
{#      /* Always set the map height explicitly to define the size of the div#}
{#       * element that contains the map. */#}
{#      #map {#}
{#        height: 100%;#}
{#      }#}
{#      /* Optional: Makes the sample page fill the window. */#}
{#      html, body {#}
{#        height: 100%;#}
{#        margin: 0;#}
{#        padding: 0;#}
{#      }#}
{#      #floating-panel {#}
{#        position: absolute;#}
{#        top: 10px;#}
{#        left: 25%;#}
{#        z-index: 5;#}
{#        background-color: #fff;#}
{#        padding: 5px;#}
{#        border: 1px solid #999;#}
{#        text-align: center;#}
{#        font-family: 'Roboto','sans-serif';#}
{#        line-height: 30px;#}
{#        padding-left: 10px;#}
{#      }#}
{#    </style>#}
{#  </head>#}
{#  <body>#}
{#    <div id="floating-panel">#}
{#      <input id="address" type="textbox" value="Sydney, NSW">#}
{#      <input id="submit" type="button" value="Geocode">#}
{#    </div>#}
{#    <div id="map"></div>#}
{#    <script>#}
{#      function initMap() {#}
{#        var map = new google.maps.Map(document.getElementById('map'), {#}
{#          zoom: 8,#}
{#          center: {lat: -34.397, lng: 150.644}#}
{#        });#}
{#        var geocoder = new google.maps.Geocoder();#}
{##}
{#        document.getElementById('submit').addEventListener('click', function() {#}
{#          geocodeAddress(geocoder, map);#}
{#        });#}
{#      }#}
{##}
{#      function geocodeAddress(geocoder, resultsMap) {#}
{#        var address = document.getElementById('address').value;#}
{#        geocoder.geocode({'address': address}, function(results, status) {#}
{#          if (status === 'OK') {#}
{#            resultsMap.setCenter(results[0].geometry.location);#}
{#            var marker = new google.maps.Marker({#}
{#              map: resultsMap,#}
{#              position: results[0].geometry.location#}
{#            });#}
{#          } else {#}
{#            alert('Geocode was not successful for the following reason: ' + status);#}
{#          }#}
{#        });#}
{#      }#}
{#    </script>#}
{#    <script async defer#}
{#    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRAEzWa8J41flFbdXsy6jq7MPHOUrOYkA&callback=initMap">#}
{#    </script>#}
{#  </body>#}
{#</html>#}
{% extends 'base.html' %}
{% load staticfiles %}
{% load tags %}
{% block scripts %}
{% endblock %}
{% block _navbar %}
    {% include 'header.html' with active_link='all' %}
{% endblock %}
{% block content %}
    <div class="w3-text-grey">
        <div class="w3-row w3-text-grey" dir="rtl">
            <div class="w3-col l1 c-height-10-px"></div>
            <div class="w3-col s12 m12 l12" dir="rtl">
                <div class="w3-display-container c-overflow-hidden c-max-height-600-px">
                    <img class="c-width-100" src="{% static 'this_project/img/hatam-camp/jahadi2.jpg' %}">
                    <div class="w3-display-middle w3-large w3-black c-middle-full"
                    >
                    </div>
                </div>
                <div class="w3-text-grey w3-white c-radius-5" dir="rtl">
                </div>
                <div class="w3-col l1 c-height-10-px"></div>
            </div>
        </div>
        <div class="w3-container">
        </div>
        <div class="w3-row">
            <div class="c-radius-5 w3-row" dir="rtl">
                <div class="w3-col s12 m7 l9 w3-container">
                    <br>
                    {% if helper_list.has_other_pages %}
                        <form method="get">
                            <ul class="pagination">
                                {% if helper_list.has_previous %}
                                    <li>
                                        <a href="?helpers_page={{ helper_list.previous_page_number }}">&raquo;</a>
                                    </li>
                                {% else %}
                                    <li class="disabled"><span>&raquo;</span></li>
                                {% endif %}
                                {% for i in helper_list.paginator.page_range %}
                                    {% if helper_list.number == i %}
                                        <li class="active"><span>{{ i }} <span
                                                class="sr-only">(current)</span></span>
                                        </li>
                                    {% else %}
                                        <li>
                                            <a
                                                    href="?helpers_page={{ i }}">{{ i }}</a></li>
                                    {% endif %}
                                {% endfor %}
                                {% if helper_list.has_next %}
                                    <li>
                                        <a href="?helpers_page={{ helper_list.next_page_number }}">&laquo;</a>
                                    </li>
                                {% else %}
                                    <li class="disabled"><span>&laquo;</span></li>
                                {% endif %}
                            </ul>
                        </form>
                    {% endif %}
                    <div>
                        {% for helper in helper_list %}
                            <div class="w3-row w3-text-grey w3-border-bottom w3-border-amber w3-margin-bottom w3-padding-bottom">
                                <div class="w3-col s12 m5 l4 w3-row">
                                    <div class="w3-col s7 m10 l8">
                                        <div class=""
                                        >
                                            <a href="/charity/view_helper/{{ helper.id }}">
                                                {% if helper.profile_image %}
                                                    {% img_use_by_static helper.profile_image.url as img_url %}
                                                    <img class="w3-hover-opacity c-width-100 c-border-white-3 w3-card-4"
                                                         src="{% static img_url %}"
                                                         alt=""
                                                    >
                                                {% else %}
                                                    <img class="w3-hover-opacity c-width-100 c-border-white-3 w3-card-4"
                                                         src="{% static 'this_project/img/persons-img/person1.png' %}"
                                                         alt=""
                                                    >
                                                {% endif %}
                                            </a>
                                        </div>
                                    </div>
                                    <div class="w3-col s5 m2 l4 c-height-10-px"></div>
                                </div>
                                <div class="w3-col s12 m7 l8 w3-panel">
                                    <a href="/charity/view_helper/{{ helper.id }}"
                                       class="w3-text-blue">{{ helper.user.username }}</a>
                                    <p class="c-overflow-hidden" style="max-height: 88px">{{ helper.about_you }}</p>
                                    <table class="w3-table" dir="rtl">
                                        <tr>
                                            {% if helper.job %}
                                                <td class="w3-text-orange">
                                                    شغل: {{ helper.job }}</td>{% endif %}
                                            {% if helper.location %}
                                                <td class="w3-text-orange">مکان: {{ helper.location }}</td>{% endif %}
                                        </tr>
                                    </table>
                                    <div class="w3-center">
                                        <a href="/charity/view_helper/{{ helper.id }}"
                                           class="w3-btn w3-round w3-deep-orange w3-padding">بیشتر
                                            ببینید</a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    {% if helper_list.has_other_pages %}
                        <form method="get">
                            <ul class="pagination">
                                {% if helper_list.has_previous %}
                                    <li>
                                        <a href="?helpers_page={{ helper_list.previous_page_number }}">&raquo;</a>
                                    </li>
                                {% else %}
                                    <li class="disabled"><span>&raquo;</span></li>
                                {% endif %}
                                {% for i in helper_list.paginator.page_range %}
                                    {% if helper_list.number == i %}
                                        <li class="active"><span>{{ i }} <span
                                                class="sr-only">(current)</span></span>
                                        </li>
                                    {% else %}
                                        <li>
                                            <a
                                                    href="?helpers_page={{ i }}">{{ i }}</a></li>
                                    {% endif %}
                                {% endfor %}
                                {% if helper_list.has_next %}
                                    <li>
                                        <a href="?helpers_page={{ helper_list.next_page_number }}">&laquo;</a>
                                    </li>
                                {% else %}
                                    <li class="disabled"><span>&laquo;</span></li>
                                {% endif %}
                            </ul>
                        </form>
                    {% endif %}
                </div>
                <div class="w3-col s12 m5 l3" dir="rtl">
                    <div class="">
                        <div>
                            <div class="w3-padding w3-light-grey w3-text-grey">
                                <h3 class="w3-center w3-text-cyan">حاتم چگونه کار میکند؟</h3><br>
                                <h4 class="w3-center w3-text-deep-orange"><i class="fa fa-bullhorn"
                                                                             aria-hidden="true"></i>
                                    معرفی پروژه توسط موسسات:</h4>
                                <p>موسساتی که از سوی حاتم تایید شده اند برای افراد تحت حمایت خود پروژه تعریف میکنند.</p>
                                <h4 class="w3-center w3-text-deep-orange"><i class="fa fa-search"
                                                                             aria-hidden="true"></i>
                                    بازدید و ثبت نام در پروژه ها:</h4>
                                <p>افرادی که در حاتم دارای حساب کاربری میباشند میتوانند پروژه های خیرخواهانه را بازدید و
                                    در
                                    آنها ثبت نام کنند.</p>
                                <h4 class="w3-center w3-text-deep-orange"><i class="fa fa-handshake-o"
                                                                             aria-hidden="true"></i> تایید موسسه و شروع
                                    همکاری:</h4>
                                <p>پس از بررسی و مصاحبه موسسه مربوط با افراد خیر خواه در صورت تفاهم همکاری شروع
                                    میگردد.</p>
                                <br>
                                <div class="w3-center">
                                    <a class="w3-btn w3-padding w3-cyan w3-round-jumbo w3-text-white"
                                       href="/charity/join_as">پیوستن به حاتم</a>
                                </div>
                                <br>
                            </div>
                            <div class="w3-border-top w3-border-white"></div>
                            <div class="w3-light-grey w3-padding w3-text-grey">
                                <h3 class="w3-center w3-text-cyan">چرا کار داوطلبانه؟</h3><br>
                                <h4 class="w3-center w3-text-deep-orange">👈۱. کار داوطلبانه باعث می‌شود شما به دیگران
                                    متصل
                                    شوید.</h4><br>
                                <p>از مزایای شناخته‎شده کار داوطلبانه این است که بر اجتماع اثر مثبتی دارد. کار داوطلبانه
                                    بی‌حقوق همچون چسبی است که اجتماع را به هم می‌چسباند و نگه می‌دارد. کار داوطلبانه کمک
                                    می‌کند شما به اجتماعتان متصل شویدو آن‌ را جایی بهتر برای زیستن کنید. حتی کمک کردن به
                                    کوچک‌ترین کارها ممکن است تغییری واقعی در زندگی افراد دیگر، حیوانات و سازمان‌های
                                    نیازمند
                                    به کمک ایجادکند. کار داوطلبانه مانند خیابانی دو‌طرفه است: همان‌قدر که به دیگران کمک
                                    می‌کند،به شما و خانواده‌تان نیز کمک می‌کند. وقت گذاشتن برای کار داوطلبانه باعث
                                    می‌شود
                                    دوستانی جدید بیابید و شبکه ارتباطی خودتان را گسترش دهید و مهارت‌هایتان را افزایش
                                    دهید.</p>
                                <p>
                                    با وارد شدن به کار داوطلبانه فرصت ملاقات افرادی جدید پیدا می‎کنید که سلیقه‌ها و
                                    اولویت‌هایشان به شما نزدیک است. کار مشترکی که انجام می‌دهید باعث می‌شود پیوندهایتان
                                    با
                                    یکدیگر و جامعه قوی‌ترشود و شبکه حمایتی قوی‌تری برای خودتان فراهم کنید. در اثر کار
                                    داوطلبانه این فرصت را دارید تا مهارت‌های اجتماعی را تمرین کنید و ارتقا بدهید، چون در
                                    شرایطی هستید که باید با آدم‌های جدید کار کنید و ملاقات کنید. این ویژگی مخصوصا به
                                    افراد
                                    خجالتی و درون‌گرا خیلی کمک می‎کند. اگر برایتان مقدور باشد که به‎صورت خانوادگی به کار
                                    داوطلبانه بپردازید، مزایای بیشتری نیز خواهید دید.
                                <p>کودکان با مشاهده شما در این کار نکات
                                    بسیاری در رابطه با تعهد به اجتماع می‌آموزند. آنها به طور عملی کمک کردن به دیگران،
                                    سازمان‎ها یا حیوانات و حل مسایل اجتماعی را یاد می‌گیرند و در عین حال وقت مفیدی را
                                    به‎صورت خانوادگی می‎گذرانید. همچنین شما نیز در حین کار متوجه ظرفیت‌ها و منابع مختلف
                                    اجتماعتان برای خانواده و کودکان می‌شوید.</p>
                                </p><br>
                                <h4 class="w3-center w3-text-deep-orange">
                                    👈۲. کار داوطلبانه برای ذهن و بدنتان خوب است.
                                </h4><br>
                                <p>کار داوطلبانه مزایای فراوانی برای سلامت شما دارد. کار داوطلبانه باعث افزایش
                                    اعتمادبه‎نفس
                                    و
                                    عزت نفس شما می‌شود و در نتیجه حس رضایت شما از زندگی بالاتر می‌رود. وقتی در این
                                    برنامه‎ها
                                    شرکت می‌کنید، حس می کنید برای افراد یا جامعه‎تان کار مفید می‎کنید و بنابراین حس
                                    موفقیت و
                                    پیروزی برایتان در پی دارد. کار داوطلبانه باعث می‌شود هویت خود را توام با افتخار
                                    دوباره
                                    تعریف کنید و حس بهتری نسبت به خودتان و آینده داشته باشید.</p>
                                <p>کار داوطلبانه یکی از روش‎های خوب مبارزه با افسردگی است.
                                    یکی از نشانه‎های اصلی افسردگی ایزوله شدن ازجامعه است. با کار دواطلبانه حضور موثرتری
                                    در
                                    جامعه دارید. این عمل همچنین به شما کمک می‌کند شبکه اجتماعی قوی‎ای برای خودتان بسازید
                                    که
                                    از شما در مقابل استرس و افسردگی محافظت می‌کند.</p>
                                <p>مطالعات بسیاری نشان داده کار دواطلبانه، در هر رده سنی که انجام شود، بر سلامت فیزیکی
                                    افراد
                                    دواطلب تاثیر مثبتی دارد و این تاثیر به‎خصوص درباره افراد مسن بیشتر است. افراد مسنی
                                    که در
                                    کارهای داوطلبانه شرکت کرده‎اند نرخ مرگ‎ومیر پایین‎تری نسبت به سایرین با شرایط فیزیکی
                                    مشابه داشته‎اند.</p>
                                <p>

                                    در پژوهش‌هایی نشان داده شده کار داوطلبانه باعث کاهش علایم سندرم درد مزمن و
                                    بیماری‌های
                                    قلبی می‎شود. حتی افراد مسنی که توانایی حرکتی کمی دارند با شرکت در فعالیت‌های
                                    داوطلبانه
                                    از طریق اینترنت یا تلفن می‌توانند از مزایای آن بهره‌مند شوند. در مطالعه‌ای که در
                                    دانشگاه
                                    اقتصاد لندن انجام شده تاثیر کار داوطلبانه بر معیارهای قابل اندازه‎گیری شادمانی بررسی
                                    شده
                                    است. افرادی که به کار داوطلبانه می‎پردازند بیش از دیگران شادند.
                                    در این مطالعه حتی کسانی که مدتی کوتاه -مثلا دو هفته- به کار داوطلبانه مشغول شده
                                    بودند،
                                    ۱۲درصد بیش از سایرین با شرایط مشابه شاد بودند.
                                </p><br>
                                <h4 class="w3-center w3-text-deep-orange">
                                    👈۳. کار داوطلبانه باعث پیشرفت شغلی شما می‌شود.
                                </h4><br>
                                <p>

                                    اگر به‎دنبال شغل تازه‌ای هستید، کار داوطلبانه می‌تواند کمک کند که در حوزه مورد
                                    علاقه‌تان
                                    افراد جدیدی ببینید و شبکه‌ای بسازید که به شما در یافتن کار جدید کمک کند. کار
                                    داوطلبانه
                                    همچنین فرصتی برای تمرین مهارت‌هایی است که ممکن است در محل کارتان نیز مفید باشد و
                                    باعث
                                    ارتقای شما شود.
                                </p>
                                <div class="w3-center"><a class="w3-btn w3-padding w3-cyan w3-round-jumbo w3-text-white"
                                                          href="/charity/pro_all/n">دیدن پروژه های
                                    داوطلبانه
                                </a></div>
                                <br>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block footer %}
    {% include 'footer.html' %}
{% endblock footer %}
