{#{% extends 'base.html' %}#}
{#{% load tags %}#}
{#{% load staticfiles %}#}
{#{% block scripts %}#}
{#    <script type="text/javascript"#}
{#            src="//maps.googleapis.com/maps/api/js?key=AIzaSyCRAEzWa8J41flFbdXsy6jq7MPHOUrOYkA">#}
{#    </script>#}
{#    <script type="text/javascript">#}
{#        var mapCenter = new google.maps.LatLng(35.763, 51.388); //Google map Coordinates#}
{#        var map;#}
{#        var markers = [];#}
{#        function initialize() //function initializes Google map#}
{#        {#}
{#            var googleMapOptions =#}
{#            {#}
{#                center: mapCenter, // map center#}
{#                zoom: 15, //zoom level, 0 = earth view to higher value#}
{#                panControl: true, //enable pan Control#}
{#                zoomControl: true, //enable zoom control#}
{#                zoomControlOptions: {#}
{#                    style: google.maps.ZoomControlStyle.SMALL //zoom control size#}
{#                },#}
{#                scaleControl: true, // enable scale control#}
{#                mapTypeId: google.maps.MapTypeId.ROADMAP // google map type#}
{#            };#}
{#            map = new google.maps.Map(document.getElementById("google_map"), googleMapOptions);#}
{#        }#}
{##}
{#        function addMyMarker() { //function that will add markers on button click#}
{#            var marker = new google.maps.Marker({#}
{#                position: mapCenter,#}
{#                map: map,#}
{#                draggable: true,#}
{#                animation: google.maps.Animation.DROP,#}
{#                title: "This a new marker!",#}
{#                icon: "http://maps.google.com/mapfiles/ms/micons/blue.png"#}
{#            });#}
{#        }#}
{#    </script>#}
{#{% endblock %}#}
{#{% block content %}#}
{#    <script>#}
{#        function deleteMarkers() {#}
{#            clearMarkers();#}
{#            markers = [];#}
{#        }#}
{#        function setMapOnAll(map) {#}
{#            for (var i = 0; i < markers.length; i++) {#}
{#                markers[i].setMap(map);#}
{#            }#}
{#        }#}
{#        function clearMarkers() {#}
{#            setMapOnAll(null);#}
{#        }#}
{#    </script>#}
{#    <script>#}
{#        $('body').on('click', '#drop', function () {#}
{##}
            {#            var myLatlng = new google.maps.LatLng(49.47143, 11.107489999999984);#}
            {#            var mapOptions = {#}
            {#                zoom: 8,#}
            {#                center: myLatlng#}
            {#            };#}
            {#            var map = new google.maps.Map(document.getElementById('googlemap'), mapOptions);#}
            {#            var marker;#}
{##}
{#            $.ajax({#}
{#                type: "GET",#}
{#                url: "/charity/ajax/pro_all__filter",#}
                {#                data: "addr=" + encodeURI("{{ company.getAddress }}, {{ company.getZipCode }} {{ company.getCity }}"),#}
{#                success: function (data) {#}
                    {#                    {% obj_by_id 1 'institute' as ins %}#}
                    {#                    var lt = '{{ ins.lat }}';#}
                    {#                    var lg = '{{ ins.lng }}';#}
                    {#                    marker = new google.maps.Marker({#}
                    {#                        position: new google.maps.LatLng(data.lat, data.lng),#}
                    {#                        map: map,#}
                    {#                        title: 'test'#}
                    {#                    });#}
{#                    clearMarkers();#}
{#                    var infowindow = new google.maps.InfoWindow({});#}
{#                    var marker, i;#}
{#                    for (var j = 0, len = data.pro_in_page_list.length; j < len; j++) {#}
{#                        i = data.pro_in_page_list[j].id;#}
{#                        marker = new google.maps.Marker({#}
{#                            position: {lat: data.pro_in_page_list[j].lat, lng: data.pro_in_page_list[j].lng},#}
{#                            map: map,#}
                            {#                        draggable: true,#}
{#                            animation: google.maps.Animation.DROP,#}
{#                            title: data.pro_in_page_list[j].title,#}
{#                            icon: "http://maps.google.com/mapfiles/ms/micons/blue.png"#}
{#                        });#}
{#                        markers.push(marker);#}
{#                        google.maps.event.addListener(marker, 'click', (function (marker, i, infowindow) {#}
{#                            return function () {#}
{#                                PInfo(marker, i, infowindow)#}
{#                            }#}
{#                        })(marker, i, infowindow));#}
{#                    }#}
{#                }#}
{#            });#}
{#        });#}
{#    </script>#}
{#    <script>#}
{#        var PInfo = function (marker, p_id, infowindow) {#}
            {#            var infowindow = new google.maps.InfoWindow({#}
            {#                content: ''#}
            {#            });#}
{#            $.ajax({#}
{#                type: "GET",#}
{#                url: "/charity/ajax/map_test",#}
{#                data: {#}
{#                    p_id: p_id#}
{#                },#}
{#                success: function (data) {#}
{#                    var info = '<div class="c-padding-right-22 c-font-koodak w3-text-grey " style="max-width:240px">' +#}
{#                            '<div class="w3-row">' +#}
{#                            '<div class="w3-col s12 m12 l12">' +#}
{#                            '<div class="c-overflow-hidden w3-round">' +#}
{#                            '<img src="' + data.img_url + '" class="c-width-100">' +#}
{#                            '</div>' +#}
{#                            '</div>' +#}
{#                            '<div class="w3-col s12 m12 l12 w3-center">' +#}
{#                            '<div class="w3-center"><a class="w3-text-deep-orange" href="/charity/project/' + data.id + '">' + data.title + '</a></div>' +#}
{#                            '<div class="w3-center">' + data.h_t + '</div>' +#}
{#                            '<div class="w3-center">' + data.sentence + '</div>' +#}
{#                            '<div class="w3-center">' +#}
{#                            '<a class="w3-text-blue" href="/charity/view_institute/' +#}
{#                            '' + data.ins_id + '"> نام موسسه: ' + data.ins_title + '</a>' +#}
{#                            '</div>' +#}
{#                            '<div class="w3-center c-overflow-hidden" style="max-height:88px">' + data.explanation + '</div>' +#}
{#                            '<div class="w3-center c-overflow-hidden">' +#}
{#                            '<a class="w3-text-deep-orange w3-btn w3-deep-orange w3-text-white w3-round" href="/charity/project/' + data.id + '">بیشتر ببینید</a>' +#}
{#                            '</div>' +#}
{#                            '</div>' +#}
{#                            '</div>' +#}
{#                            '</div>';#}
{#                    infowindow.close();#}
{#                    infowindow.setContent(info);#}
{#                    infowindow.open(map, marker);#}
{#                }#}
{#            });#}
{#        }#}
{#    </script>#}
{#    <br>#}
{#    <br>#}
{#    <div id="google_map" style="height: 100vh"></div>#}
{#    <button id="drop">Drop Markers</button>#}
{#    <input type="hidden" id="id_pd" value="ddd" class="">#}
{#{% endblock content %}#}
<!DOCTYPE html>
<html>
  <head>
    <title>Geolocation</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <div id="map"></div>
    <script>
      // Note: This example requires that you consent to location sharing when
      // prompted by your browser. If you see the error "The Geolocation service
      // failed.", it means you probably did not give permission for the browser to
      // locate you.
      var map, infoWindow;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: -34.397, lng: 150.644},
          zoom: 6
        });
        infoWindow = new google.maps.InfoWindow;

        // Try HTML5 geolocation.
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            var pos = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };

            infoWindow.setPosition(pos);
            infoWindow.setContent('Location found.');
            infoWindow.open(map);
            map.setCenter(pos);
          }, function() {
            handleLocationError(true, infoWindow, map.getCenter());
          });
        } else {
          // Browser doesn't support Geolocation
          handleLocationError(false, infoWindow, map.getCenter());
        }
      }

      function handleLocationError(browserHasGeolocation, infoWindow, pos) {
        infoWindow.setPosition(pos);
        infoWindow.setContent(browserHasGeolocation ?
                              'Error: The Geolocation service failed.' :
                              'Error: Your browser doesn\'t support geolocation.');
        infoWindow.open(map);
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRAEzWa8J41flFbdXsy6jq7MPHOUrOYkA&callback=initMap">
    </script>
  </body>
</html>