{% extends 'base.html' %}
{% load staticfiles %}
{% block scripts %}
    <script>
        $('body').on('click', '.h_type_btn2', function () {
            var h_id = $(this).children('input').val();
            $('#p_f_t_input').attr('value', h_id);
            GetHType()
        });
        $('body').on('click', '.h_type_btn1', function () {
            var h_id = $(this).children('input').val();
            $('#p_f_t_input').attr('value', h_id);
            GetHType()
        });
        $('body').on('click', '.h_type_btn0', function () {

        });
        $('body').on('click', '.city_btn0', function () {
        $('body').on('click', '#c-return-btn', function () {
            $("#cities_list").css('display', 'block');
            $("#h_types_list").css('display', 'none');
        });
            var c = $(this).children('input').val();
            $("#city").attr('value', c);
            $("#cities_list").css('display', 'none');
            $("#h_types_list").css('display', 'block');
            GetHType();
        });
        window.onload = function () {
            GetCity()
        };
        $('body').on('click', '.city_btn1', function () {
            var c_f = $(this).children('input').val();
            $("#c_f_input").attr('value', c_f);
            GetCity()
        });
        var GetHType = function () {
            $.ajax({
                type: "GET",
                url: '/charity/ajax/get__help_type',
                data: {
                    t_f_id: $('#p_f_t_input').val(),
                },
                success: function (data) {
                    $('#h_types_list').children('div').remove().end();
                    for (var i = 0, len = data.h_type_list.length; i < len; i++) {
                        if (data.h_type_list[i].h_t_status == 1) {
                            $('#h_types_list').append(
                                    '<div class="w3-col s6 m4 l3 w3-padding w3-text-grey">' +
                                    '<div class="w3-border w3-border-teal w3-padding-12 c-cursor-pointer' +
                                    ' w3-round-jumbo w3-center c-overflow-hidden h_type_btn h_type_btn1">' +
                                    '<span class="w3-margin-left">«««««</span><span class="w3-margin-right">' + data.h_type_list[i].h_t_title + '</span><input type="hidden" value="' + data.h_type_list[i].h_t_id + '">' +
                                    '</div>' +
                                    '</div>'
                            );
                        }
                        else if (data.h_type_list[i].h_t_status == 2) {
                            $('#h_types_list').append(
                                    '<div class="w3-col s6 m4 l3 w3-padding w3-text-grey">' +
                                    '<div class="w3-border w3-border-teal w3-padding-12 c-cursor-pointer w3-light-grey w3-text-grey' +
                                    ' w3-round-jumbo w3-center c-overflow-hidden h_type_btn h_type_btn2">' +
                                    '» برگرد به عقب »<input type="hidden" value="' + data.h_type_list[i].h_t_id + '">' +
                                    '</div>' +
                                    '</div>');
                        }
                        else if (data.h_type_list[i].h_t_status == 0) {
                            $('#h_types_list').append(
                                    '<div class="w3-col s6 m4 l3 w3-padding w3-text-grey">' +
                                    '<a href="/charity/pro_all/' + data.h_type_list[i].h_t_id+ '" class="w3-border w3-border-teal w3-padding-12 c-cursor-pointer w3-show-block' +
                                    ' w3-round-jumbo w3-center c-overflow-hidden h_type_btn h_type_btn0 w3-teal w3-text-white">' +
                                    '' + data.h_type_list[i].h_t_title + '' +
                                    '</a>' +
                                    '</div>');
                        }
                    }
                },
                error: function (xhr, textStatus, errorThrown) {
                    alert("Please report this error: " + errorThrown + xhr.status + xhr.responseText);
                }
            })
        };
        var GetCity = function () {
            $.ajax({
                type: "GET",
                url: '/charity/ajax/get__city',
                data: {
                    c_f: $("#c_f_input").val()
                },
                success: function (data) {
                    $('#cities_list').children('div').remove().end();
                    if (data.btn_class == 'city_btn0') {
                        $('#cities_list').append(
                                '<div class="w3-col s6 m4 l3 w3-padding w3-text-grey">' +
                                '<div class="w3-border w3-border-teal ' +
                                'w3-padding-12 c-cursor-pointer' +
                                ' w3-round-jumbo w3-center c-overflow-hidden city_btn city_btn1">' +
                                '<span class="w3-margin-left">بازگشت به عقب</span><span class="w3-margin-right">»»»»</span>' +
                                '<input type="hidden" value="main_cities">' +
                                '</div>' +
                                '</div>'
                        );
                        for (var j = 0, len = data.city_list.length; j < len; j++) {
                            $('#cities_list').append(
                                    '<div class="w3-col s6 m4 l3 w3-padding w3-text-grey">' +
                                    '<div class="w3-border w3-border-teal w3-teal w3-text-white ' +
                                    'w3-padding-12 c-cursor-pointer' +
                                    ' w3-round-jumbo w3-center c-overflow-hidden city_btn ' + data.btn_class + '">' +
                                    '<span class="w3-margin-right">' + data.city_list[j].title + '</span>' +
                                    '<input type="hidden" value="' + data.city_list[j].title + '">' +
                                    '</div>' +
                                    '</div>'
                            )
                        }
                    } else if (data.btn_class == 'city_btn1') {
                        for (var i = 0, len = data.city_list.length; i < len; i++) {
                            $('#cities_list').append(
                                    '<div class="w3-col s6 m4 l3 w3-padding w3-text-grey">' +
                                    '<div class="w3-border w3-border-teal ' +
                                    'w3-padding-12 c-cursor-pointer' +
                                    ' w3-round-jumbo w3-center c-overflow-hidden city_btn ' + data.btn_class + '">' +
                                    '<span class="w3-margin-left">«««««</span><span class="w3-margin-right">' + data.city_list[i].title + '</span>' +
                                    '<input type="hidden" value="' + data.city_list[i].title + '">' +
                                    '</div>' +
                                    '</div>'
                            )
                        }
                    }
                },
                error: function (xhr, textStatus, errorThrown) {
                    alert("Please report this error: " + errorThrown + xhr.status + xhr.responseText);
                }
            })
        };
    </script>
{% endblock %}
{% block styles %}
{% endblock %}
{% block _navbar %}
    {% include 'header.html' with active_link='all' %}
{% endblock %}
{% block content %}
    <div class="w3-container">
        <br>
        <br>
        <br>
        <div id="cities_list">
            <h2 class="w3-center w3-text-grey">لطفا یکی از استان های زیر را انتخاب کنید</h2>
            {#            {% for c in cities_list %}#}
            {#                            <div class="w3-col s6 m4 l3 w3-padding w3-text-grey">#}
            {#                                <div class="w3-border w3-border-teal w3-padding-12 c-cursor-pointer w3-round-jumbo w3-center c-overflow-hidden city_btn">#}
            {#                                    {{ c }}<input type="hidden" value="{{ c }}">#}
            {#                                </div>#}
            {#                            </div>#}
            {#            {% endfor %}#}
        </div>
        <div id="h_types_list" style="display:none">
            <h2 class="w3-center">می خواهید پروژه های کدام حوزه را مشاهده نمایید.</h2>
            <span id="c-return-btn" class="w3-col s6 m4 l3 w3-padding w3-show-block">
                <span class="w3-border w3-border-deep-orange w3-show-block w3-deep-orange w3-padding-12 c-cursor-pointer w3-round-jumbo w3-center c-overflow-hidden">
<span class="w3-margin-left">بازگشت به انتخاب شهر</span><span class="w3-margin-right">»»»»»</span>
                </span>
            </span>
        </div>
    </div>
    <input type="hidden" name="city" id="city" value="">
    <input type="hidden" class="" name="h_type" id="h_type" value="">
    <input type="hidden" name="p_f_t_input" id="p_f_t_input" value="0">
    <input type="hidden" name="c_f_input" id="c_f_input" value="main_cities">
{% endblock content %}
{% block footer %}
    {% include 'footer.html' %}
{% endblock footer %}