{% load staticfiles %}
{% block scripts %}
{% endblock %}
<footer class="footer-distributed w3-margin-0 w3-black" style="min-height: 10vh">
    <div class="footer-right">
{#        <a target="_blank" href=""><i class="fa fa-facebook"></i></a>#}
        <a target="_blank" href="https://www.instagram.com/hatamplatform/"><i class="fa fa-instagram"></i></a>
{#        <a target="_blank" href=""><i class="fa fa-twitter"></i></a>#}
        <a target="_blank" href="https://telegram.me/hatamplatform"><i class="fa fa-telegram"></i></a>
    </div>
    <div class="footer-left">

        <p class="footer-links">
            <a href="/">صفحه اول</a>
            <a href="/charity/all_hip/Project">فرصت های همکاری</a>
            <a href="/charity/all_h_or_i/Institute">سازمانها و خیریه های مردم نهاد</a>
            <a href="/charity/all_h_or_i/Helper">خیرخواهان حاتم</a>
        </p>
    </div>
</footer>
