{% load staticfiles %}
{% block scripts %}
    <script>
        if ('{{ active_link }}' === 'home') {
            $(window).scroll(function () {
                if ($(window).scrollTop() == 0) {
                    $(".container-fluid").css('background-color', '');
                } else {
                    $(".container-fluid").css('background-color', 'teal');
                }
            });
        }
    </script>
{% endblock %}
<div class="navbar w3-white w3-display-container navbar-default w3-margin-0 navbar__initial navbar-fixed-top scrollspy_menu"
     role="navigation">
    <div class="container-fluid {% if active_link != 'home' %}w3-white{% endif %}">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle w3-white w3-highway-brown w3-hover-brown w3-border-0"
                    data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">تغییر وضعیت منو</span>
                <span class="w3-green icon-bar"></span>
                <span class="w3-green icon-bar"></span>
                <span class="icon-bar w3-green"></span>
            </button>
        </div>

        <div dir="rtl" class="navbar-collapse collapse w3-padding-4 w3-right-align">
            <ul class="fullpage__nav nav navbar-nav navbar-left" dir="rtl" style="max-width: 7%">
                <li>
                    <a id="nav-brand"
                       class="w3-margin-right w3-padding"
                       href="/">
                    </a>
                </li>
            </ul>
            <ul class="fullpage__nav nav navbar-nav navbar-right" dir="rtl" style="max-width: 93%">
                {% if not user.is_authenticated %}
                    <li class=""><a
                            class="w3-border {% if active_link == 'home' %}w3-text-white{% else %}w3-text-green{% endif %} w3-hover-border-green w3-margin-right w3-padding"
                            href="/accounts/login/?next={{ request.path }}">ورود</a></li>
                    <li>
                        <a class="w3-border {% if active_link == 'home' %}w3-text-white{% else %}w3-text-green{% endif %} w3-hover-border-green w3-margin-right w3-padding"
                           href="/accounts/signup/?next=/charity/continue_fill">عضویت</a>
                    </li>
                {% else %}
                    <li class="dropdown">
                        <a aria-expanded="false" role="button" href="http://www.givingway.com/#"
                           class="dropdown-toggle w3-padding w3-margin-right w3-border w3-border-white {% if active_link == 'home' %}w3-text-white{% else %}w3-text-green{% endif %} w3-hover-border-green"
                           data-toggle="dropdown"><span class="">صفحه های من</span></a>
                        <ul role="menu" class="dropdown-menu c-radius-5 w3-transparent w3-round w3-card-8">
                            <li>
                                <a class="w3-round w3-white w3-center w3-hover-light-grey w3-text-green w3-hover-text-green"
                                   href="/charity/helper_profile">اطلاعات من</a></li>
                            {% if user.institute.all %}
                                <li class="divider"></li>
                                <li>
                                    <a class="w3-round w3-white w3-center w3-hover-light-grey w3-text-green w3-hover-text-green"
                                       href="/charity/institute">موسسه
                                        من</a></li>
                            {% endif %}
                            <li class="divider"></li>
                            <li>
                                <a class="w3-round w3-white w3-center w3-hover-light-grey w3-text-green w3-hover-text-green"
                                   href="/accounts/password/change/">تغییر رمز</a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a class="w3-round w3-white w3-center w3-hover-light-grey w3-text-green w3-hover-text-green"
                                   href="/accounts/logout/">خروج</a>
                            </li>
                        </ul>
                    </li>
                {% endif %}
                {% if not user.institute.all %}
                    <li>
                        <a class="{% if active_link == 'home' %}w3-text-white{% else %}w3-text-green{% endif %} w3-padding"
                           href="/charity/continue_fill?tem_key=institute">ثبت
                            موسسه</a>
                    </li>
                {% endif %}
                <li class="dropdown">
                    <a aria-expanded="false" role="button" href="http://www.givingway.com/#"
                       class="{% if active_link == 'home' %}w3-text-white{% else %}w3-text-green{% endif %} w3-margin-right w3-padding dropdown-toggle"
                       data-toggle="dropdown">درباره<span class="caret"></span></a>
                    <ul role="menu" class="dropdown-menu c-radius-5 w3-transparent">
                        <li>
                            <a class="w3-round w3-white w3-center w3-hover-light-grey w3-hover-text-green w3-text-green"
                               href="/about_us/what_we_are">درباره حاتم</a>
                        </li>
                        <li class="divider"></li>
                        <li style=""><a
                                class="w3-round w3-white w3-center w3-hover-light-grey w3-hover-text-green w3-text-green"
                                href="/about_us/rules">قوانین حاتم</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a aria-expanded="false" role="button" href="http://www.givingway.com/#"
                       class="{% if active_link == 'home' %}w3-text-white{% else %}w3-text-green{% endif %} w3-margin-right w3-padding dropdown-toggle"
                       data-toggle="dropdown">آنچه به دنبالش هستید<span class="caret"></span></a>
                    <ul role="menu" class="dropdown-menu c-radius-5 w3-transparent">
                        <li style=""><a
                                class="w3-round w3-white w3-center w3-hover-light-grey w3-hover-text-green w3-text-green"
                                href="/charity/all_hip/Project">فرصت های همکاری</a></li>
                        <li class="divider"></li>
                        <li>
                            <a class="w3-round w3-white w3-center w3-hover-light-grey w3-hover-text-green w3-text-green"
                               href="/charity/all_h_or_i/Helper">خیرخواهان حاتم</a>
                        </li>
                        <li class="divider"></li>
                        <li style=""><a
                                class="w3-round w3-white w3-center w3-hover-light-grey w3-text-green w3-hover-text-green"
                                href="/charity/all_h_or_i/Institute">سازمان
                            ها
                            و خیریه های مردم
                            نهاد</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
