{% extends 'base.html' %}
{% load staticfiles %}
{% load tags %}
{% block scripts %}
    <script>
        function ThisCSFunction() {
            var input, filter, table, tr, td, i;
            input = document.getElementById("this-cases-search-i");
            filter = input.value.toUpperCase();
            table = document.getElementById("this-cases-table");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0];
                if (td) {
                    if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
        function ThisPSFunction() {
            var input, filter, table, tr, td, i;
            input = document.getElementById("this-projects-search-i");
            filter = input.value.toUpperCase();
            table = document.getElementById("this-projects-table");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0];
                if (td) {
                    if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
        function ThisCPSFunction() {
            var input, filter, table, tr, td, i;
            input = document.getElementById("this-c-projects-search-i");
            filter = input.value.toUpperCase();
            table = document.getElementById("this-c-projects-table");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0];
                if (td) {
                    if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    </script>
{% endblock %}
{% block _navbar %}
    {% include 'header.html' with active_link='all' %}
{% endblock %}
{% block content %}
    <div class="w3-text-grey w3-white">
        <div class="w3-row w3-text-grey" dir="rtl">
            <div class="w3-col l1 c-height-1-px"></div>
            <div class="w3-col s12 m12 l10" dir="rtl">
                <div class="w3-col s12 m12 l12" dir="rtl">
                    <div class="w3-col m1 l2 c-height-1-px" dir="rtl"></div>
                    <div class="w3-col s12 m10 l8" dir="rtl">
                        <div class="w3-white w3-padding-bottom c-radius-5">
                            <br>
                            <br>
                            <div class="w3-margin-top">
                                {% if this.profile_image %}
                                    {% img_use_by_static this.profile_image.url as img_url %}
                                    <img class="c-width-100" src="{% static img_url %}">
                                {% endif %}
                            </div>
                            <div class="w3-text-grey w3-white c-radius-5" dir="rtl">
                                <div class="w3-text-grey w3-container w3-margin-top w3-center" dir="rtl">
                                    <a href="#this-inf" class="w3-border w3-border-orange w3-padding w3-btn w3-white">اطلاعات
                                        موسسه</a>
                                    <a href="#this-pers" class="w3-border w3-border-orange w3-padding w3-btn w3-white">افراد
                                        شما</a>
                                    <a href="#this-pros" class="w3-border w3-border-orange w3-padding w3-btn w3-white">پروژه
                                        های
                                        شما</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="w3-col m1 l2 c-height-1-px" dir="rtl"></div>
                </div>
                <br>
                <h3 id="this-inf" class=" w3-text-deep-orange w3-center w3-margin-top">اطلاعات موسسه</h3>
                <br>
                <div class="w3-row w3-margin-top">
                    <div class="w3-col s12 m6 l6 w3-padding">
                        <div id="" class="w3-responsive w3-border-amber w3-border">
                            <div class="">
                                <table id="" class="w3-table-all w3-text-grey c-border-white-3">
                                    <tr>
                                        <th class="w3-right-align">عنوان:</th>
                                        <td class="w3-text-blue w3-center">{{ this.title }}</td>
                                    </tr>
                                    <tr>
                                        <th class="w3-right-align">شماره ثبت:</th>
                                        <td class="w3-text-blue w3-center">{{ this.patent_num }}</td>
                                    </tr>
                                    <tr>
                                        <th class="w3-right-align">موقعیت مکانی:</th>
                                        <td class="w3-text-blue w3-center">
                                            {% if this.location %}{{ this.location }}{% endif %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="w3-right-align">آدرس:</th>
                                        <td class="w3-text-blue w3-center">{{ this.address }}</td>
                                    </tr>
                                    <tr>
                                        <th class="w3-right-align">تاریخ تاسیس:</th>
                                        <td class="w3-text-blue w3-center">
                                            {% if this.establishment_date %}{{ this.establishment_date }}{% endif %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="w3-right-align">آدرس سایت:</th>
                                        <td class="w3-text-blue w3-center">{{ this.site_address }}</td>
                                    </tr>
                                    <tr>
                                        <th class="w3-right-align">کد پستی:</th>
                                        <td class="w3-text-blue w3-center">{{ this.post_code }}
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="w3-col s12 m6 l6 w3-padding">
                        <div id="" class="w3-responsive w3-border w3-border-amber">
                            <div class="">
                                <table id="" class="w3-table-all w3-text-grey c-border-white-3">
                                    <tr>
                                        <th class="w3-right-align">تلفن:</th>
                                        <td class="w3-text-blue w3-center">
                                            {{ this.phone_num }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="w3-right-align">تلفن دوم:</th>
                                        <td class="w3-text-blue w3-center">{{ this.phone_num2 }}</td>
                                    </tr>
                                    <tr>
                                        <th class="w3-right-align">ایمیل:</th>
                                        <td class="w3-text-blue w3-center">{{ this.email }}</td>
                                    </tr>
                                    <tr>
                                        <th class="w3-right-align">توئیتر:</th>
                                        <td class="w3-text-blue w3-center">{{ this.twitter }}</td>
                                    </tr>
                                    <tr>
                                        <th class="w3-right-align">تلگرام:</th>
                                        <td class="w3-text-blue w3-center">{{ this.telegram }}</td>
                                    </tr>
                                    <tr>
                                        <th class="w3-right-align">فیس بوک:</th>
                                        <td class="w3-text-blue w3-center">{{ this.facebook }}</td>
                                    </tr>
                                    <tr>
                                        <th class="w3-right-align">انستاگرام:</th>
                                        <td class="w3-text-blue w3-center">{{ this.istagram }}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="w3-padding">
                    <h4 class="w3-center w3-text-deep-orange">اطلاعات نماینده موسسه</h4>
                    <div id="" class="w3-responsive w3-border w3-border-amber">
                        <div class="">
                            <table id="" class="w3-table-all w3-text-grey c-border-white-3">
                                <tr>
                                    <th class="w3-center">نام و نام خانوادگی</th>
                                    <th class="w3-center">جایگاه نماینده در موسسه</th>
                                    <th class="w3-center">تلفن نماینده</th>
                                </tr>
                                <tr>
                                    <td class="w3-text-blue w3-center">{{ this.agent }}</td>
                                    <td class="w3-text-blue w3-center">{{ this.agent_job }}</td>
                                    <td class="w3-text-blue w3-center">{{ this.agent_num }}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                {% if this.help_type1 or this.help_type2 or this.help_type3 %}
                    <div class="w3-padding">
                        <h4 class="w3-center w3-text-deep-orange">انواع کمک رسانی موسسه</h4>
                        <div id="" class="w3-row">
                            {% if this.help_type1 %}
                                <div class="w3-col s12 m4 l4 w3-border w3-border-light-grey w3-center">
                                    <div
                                            class="w3-padding w3-border w3-border-amber w3-white w3-text-grey">{{ this.help_type1 }}</div>
                                </div>{% endif %}
                            {% if this.help_type2 %}
                                <div class="w3-col s12 m4 l4 w3-border w3-border-light-grey w3-center">
                                    <div
                                            class="w3-padding w3-border w3-border-amber w3-white w3-text-grey">{{ this.help_type2 }}</div>
                                </div>{% endif %}
                            {% if this.help_type3 %}
                                <div class="w3-col s12 m4 l4 w3-border w3-border-light-grey w3-center">
                                    <div
                                            class="w3-padding w3-border w3-border-amber w3-white w3-text-grey">{{ this.help_type3 }}</div>
                                </div>{% endif %}
                        </div>
                    </div>
                {% endif %}
                {% if this.explanation %}
                    <div class="w3-col s12 m12 l12 w3-padding">
                        <div id="" class="w3-responsive w3-border w3-border-amber w3-padding">
                            <div class="w3-center">
                                {{ this.explanation }}
                            </div>
                        </div>
                    </div>
                {% endif %}
                <div class="w3-center">
                    <a href="/charity/add_institute?next={{ request.path }}" class="btn btn-lg w3-deep-orange">ویرایش
                        اطلاعات</a>
                </div>
                <div class="w3-padding">
                    <hr>
                </div>
                <h3 id="this-pers" class="w3-text-deep-orange w3-center">افراد شما</h3><br>
                <div class="">
                    <div id="" class="w3-responsive w3-padding">
                        <div class="c-radius-5 c-border-light-grey-3">
                            <div class="c-max-height-600-px" style="overflow: auto">
                                <div class="w3-padding">
                                    <input placeholder="جستجو با شماره ملی" type="text"
                                           class="w3-input w3-round-jumbo w3-border w3-border-amber"
                                           onkeyup="ThisCSFunction()"
                                           id="this-cases-search-i">
                                </div>
                                <table id="this-cases-table" class="w3-table-all w3-text-grey w3-border-0">
                                    <tr>
                                        <th class="w3-center">شماره ملی</th>
                                        <th class="w3-center">ویرایش</th>
                                    </tr>
                                    {% for case in this.cases.all %}
                                        <tr>
                                            <td class="w3-text-blue w3-center">{{ case.national_code }}</td>
                                            <td class="w3-text-blue w3-center"><a
                                                    href="/charity/add_case/{{ case.id }}?next={{ request.path }}"
                                                    class="w3-btn w3-blue">ویرایش</a></td>
                                        </tr>
                                    {% endfor %}
                                </table>
                            </div>
                        </div>
                        <div class="w3-center w3-margin-top">
                            <a class="btn btn-lg w3-deep-orange" href="/charity/add_case/0?next={{ request.path }}">افزودن
                                مددجو</a>
                        </div>
                    </div>
                </div>
                <div class="w3-padding">
                    <hr>
                </div>
                <h3 id="this-pros" class="w3-text-deep-orange w3-center">پروژه های شما</h3><br>
                <div class="w3-center"><a href="/charity/add_project/0?next={{ request.path }}"
                                          class="btn btn-lg w3-deep-orange">افزودن
                    پروژه</a></div>
                <div>
                    <div id="" class="w3-responsive w3-padding">
                        <div class="c-radius-5 w3-white c-border-light-grey-3">
                            <div>
                                <div class="w3-padding">
                                    <input placeholder="جستجو با نام پروژه" type="text" id="this-c-projects-search-i"
                                           class="w3-input w3-round-jumbo w3-border w3-border-amber"
                                           onkeyup="ThisCPSFunction()">
                                </div>
                                <form id="" method="post" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <table id="this-c-projects-table"
                                           class="w3-table-all w3-text-grey w3-border-0">
                                        {% for project in this.projects.all %}
                                            {% past_or_not project.end_date as past_ok %}

                                            {% mtm_list project.id "p_h" "p" as p_mtm_list %}
                                            <tr>
                                                <td class="w3-center"><a href="/charity/project/{{ project.id }}">{{ project.title }}</a></td>
                                                <td class="w3-center">
                                                    {#                                                        {% if project.project_many_to_many.all %}#}
                                                    {#                                                        {% if p_mtm_check %}#}
                                                    {% if not past_ok %}
                                                        {% if p_mtm_list %}
                                                            <span onclick="document.getElementById('view-helpers-{{ project.id }}').
                                                                    style.display='block'"
                                                                  class="w3-btn w3-green">دیدن ثبت نامی ها</span>
                                                        {% else %}
                                                            ثبت نامی ندارد
                                                        {% endif %}
                                                    {% else %}
                                                        ثبت نامی ندارد
                                                    {% endif %}
                                                    {#                                            {% endif %}#}
                                                    {#                                            {% else %}#}
                                                    {#                                                    {% endif %}#}
                                                </td>
                                                <td class="w3-center"><a href="/charity/add_project/{{ project.id }}?next={{ request.path }}" class="w3-btn w3-blue">ویرایش</a></td>
                                            </tr>
                                            <!------------=============dis m_t_m=======================---------------------->
                                            {% if not past_ok %}
                                                <div class="w3-container">
                                                    <div dir="rtl" id="view-helpers-{{ project.id }}"
                                                         class="w3-modal w3-animate-opacity">
                                                        <div class="w3-modal-content w3-card-8 c-radius-5">
                                                            <header class=" w3-container w3-teal c-radius-5 w3-padding-12">
            <span onclick="document.getElementById('view-helpers-{{ project.id }}').
                    style.display='none'"
                  class="w3-closebtn">&times;</span>
                                                                <div class="w3-center">
                                                                    سلام {{ this.admin.username }}</div>
                                                            </header>
                                                            <div class="w3-container c-radius-5 w3-center w3-text-grey">
                                                                <p>لطفا با مشاهده پرو فایل هر یک از افراد زیر
                                                                    وضعیت آنها
                                                                    در
                                                                    پروژه را مشخص کنید.</p>
                                                                <p>با کلیک روی نام کاربری افراد میتوانید پروفایل
                                                                    آنها را
                                                                    بررسی
                                                                    کنید. راستی آزمایی این دوستان بر عهده شما
                                                                    میباشد.</p>
                                                                <ul class="w3-ul">
                                                                    {% for obj in p_mtm_list %}
                                                                        <li class="w3-row">
                                                                            <div class="w3-col s4 m4 l4 w3-center">
                                                                        <span class="w3-btn w3-blue"
                                                                              onclick="document.getElementById('view-helper-{{ obj.helper.id }}').style.display='block'">
                                                                            {{ obj.helper.username }}</span>
                                                                                <!----------------------------------------------------->
                                                                                <div class="w3-container">
                                                                                    <div dir="rtl"
                                                                                         id="view-helper-{{ obj.helper.id }}"
                                                                                         class="w3-modal w3-animate-opacity">
                                                                                        <div class="w3-modal-content w3-card-8 c-radius-5">
                                                                                            <header class=" w3-container w3-teal c-radius-5 w3-padding-12">
            <span onclick="document.getElementById('view-helper-{{ obj.helper.id }}').style.display='none'"
                  class="w3-closebtn">&times;</span>
                                                                                            </header>
                                                                                            <div class="w3-container c-radius-5">
                                                                                                <div class="w3-row w3-text-grey">
                                                                                                    <div class="w3-col l1 m1 c-height-1-px"></div>
                                                                                                    <div class="w3-col s12 l10 m10 ">
                                                                                                        <div class="w3-row">
                                                                                                            <div class="w3-col s12 m4 l3 w3-padding">
                                                                                                                <div class="">
                                                                                                                    {% if obj.helper.profile.profile_image %}
                                                                                                                        {% img_use_by_static obj.helper.profile.profile_image.url as img_url %}
                                                                                                                        <img class="c-width-100"
                                                                                                                             src="{% static img_url %}">
                                                                                                                    {% else %}
                                                                                                                        <img class="c-width-100 w3-circle"
                                                                                                                             src="{% static 'this_project/img/hatam-camp/person1.png' %}"
                                                                                                                             alt="">
                                                                                                                    {% endif %}
                                                                                                                </div>
                                                                                                            </div>
                                                                                                            <div class="w3-col s12 m8 l9 w3-padding">
                                                                                                                <h2 class="w3-text-blue">
                                                                                                                    <a href="/charity/view_helper/{{ obj.helper.profile.id }}">{{ obj.helper.username }}</a>
                                                                                                                </h2>
                                                                                                                <h5 class="">
                                                                                                                    {% if obj.helper.profile.age %}
                                                                                                                        {{ obj.helper.profile.age }}
                                                                                                                        ساله{% endif %}
                                                                                                                    {% if obj.helper.profile.location %}
                                                                                                                        از
                                                                                                                        {{ obj.helper.profile.location }} {% endif %}</h5>
                                                                                                                {% if obj.helper.profile.religion %}
                                                                                                                    <span class="w3-padding w3-margin-bottom">دین: {{ obj.helper.profile.get_religion_display }}</span>{% endif %}
                                                                                                                {% if obj.helper.profile.job %}
                                                                                                                    <span class="w3-padding w3-margin-bottom">شغل: {{ obj.helper.profile.job }}</span>{% endif %}
                                                                                                                {% if obj.helper.profile.is_married %}
                                                                                                                    <span class="w3-padding w3-margin-bottom">متاهل</span>{% endif %}
                                                                                                                {% if obj.helper.profile.about_you %}
                                                                                                                    <div class="w3-padding w3-margin-bottom c-border-white-3">
                                                                                                                        <h4
                                                                                                                                class="c-font-kamran w3-text-blue">


                                                                                                                            از {{ obj.helper.username }}
                                                                                                                            درباره {{ obj.helper.username }}:</h4>
                                                                                                                        <p>{{ obj.helper.profile.about_you }}</p>
                                                                                                                    </div>{% endif %}
                                                                                                            </div>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                    <div class="w3-col l1 m1 c-height-1-px"></div>
                                                                                                </div>
                                                                                            </div>
                                                                                            <footer class="c-radius-5 w3-panel w3-container w3-teal">
                                                                                                <div class="w3-center">
                                                                                                    <span>تلفن: {{ obj.helper.profile.phone_num }}</span>
                                                                                                    <h3>تذکر
                                                                                                        شماره
                                                                                                        تماس
                                                                                                        افراد
                                                                                                        فقط
                                                                                                        به
                                                                                                        موسسات
                                                                                                        داده
                                                                                                        میشود
                                                                                                        هر
                                                                                                        گونه
                                                                                                        سوء
                                                                                                        استفاده
                                                                                                        بر
                                                                                                        خلاف
                                                                                                        قوانین
                                                                                                        حاتم
                                                                                                        میباشد.</h3>
                                                                                                </div>
                                                                                            </footer>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <!----------------------------------------------------->
                                                                            </div>
                                                                            <div class="w3-col s4 m4 l4 w3-center">
                                                                                {% if obj.status == p_mtm.DEFINITE %}
                                                                                    <p class="w3-text-blue">
                                                                                        وضعیت
                                                                                        قطعی</p>
                                                                                {% else %}
                                                                                    <button
                                                                                            type="submit"
                                                                                            class="w3-btn w3-teal"
                                                                                            onclick="document.getElementById('ch-helper-st-i')
                                                                                                    .value='{{ obj.helper.id }}';
                                                                                                    document.getElementById('p-post-editor')
                                                                                                    .value='definite_h';
                                                                                                    document.getElementById('ch-project-i')
                                                                                                    .value='{{ obj.project.id }}'">
                                                                                        قطعی
                                                                                    </button>
                                                                                {% endif %}
                                                                            </div>
                                                                            <div class="w3-col s4 m4 l4 w3-center">
                                                                                {% if obj.status == p_mtm.FAILED %}
                                                                                    <p class="w3-text-amber">
                                                                                        وضعیت
                                                                                        معلق</p>
                                                                                {% elif obj.status == p_mtm.DEFINITE %}
                                                                                    <p class="w3-text-blue">
                                                                                        وضعیت
                                                                                        قطعی</p>
                                                                                {% else %}
                                                                                    <button type="submit"
                                                                                            class="w3-btn w3-red"
                                                                                            onclick="document.getElementById('ch-helper-st-i')
                                                                                                    .value='{{ obj.helper.id }}';
                                                                                                    document.getElementById('p-post-editor')
                                                                                                    .value='failed_h';
                                                                                                    document.getElementById('ch-project-i')
                                                                                                    .value='{{ obj.project.id }}'">
                                                                                        معلق
                                                                                    </button>
                                                                                {% endif %}
                                                                            </div>
                                                                        </li>
                                                                    {% endfor %}
                                                                </ul>
                                                            </div>
                                                            <footer class="w3-panel w3-container w3-teal">
                                                            </footer>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endif %}
                                            <!------------=============end dis m_t_m=======================---------------------->


                                        {% endfor %}
                                    </table>
                                    <input type="hidden" name="ch_project_i" id="ch-project-i">
                                    <input type="hidden" name="ch_helper_st_i" id="ch-helper-st-i">
                                    <input type="hidden" name="post_editor" id="p-post-editor">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="w3-col l1 c-height-1-px">
        </div>
    </div>
    <!------------=============dis m_t_m=======================---------------------->
    {#    {% if pro in this.projects.all and  %}#}
    <div class="w3-container">
        <div dir="rtl" id="ur_pr_hr_note" class="w3-modal w3-animate-opacity">
            <div class="w3-modal-content w3-card-8 c-radius-5 w3-text-grey">
                <header class=" w3-container w3-teal c-radius-5 w3-padding-12">
                <span onclick="document.getElementById('ur_pr_hr_note').style.display='none'"
                      class="w3-closebtn">&times;</span>
                </header>
                <div class="w3-container c-radius-5">
                    <p></p>
                </div>
                <footer class="w3-panel w3-container w3-teal">
                </footer>
            </div>
        </div>
    </div>
    {#    {% endif %}#}
    <!------------=============end dis m_t_m=======================---------------------->
{% endblock content %}
{% block footer %}
    {% include 'footer.html' %}
{% endblock footer %}