{% extends 'base.html' %}
{% load staticfiles %}
{% block scripts %}
{% endblock %}
{% block _navbar %}
    {% include 'header.html' with active_link='all' %}
{% endblock %}
{% block content %}
    <div class="" style="min-height: 96vh">
        <br>
        <br>
        <br>
        <div class="w3-row w3-text-grey w3-animate-opacity">
            <div class="w3-col l1 m1 c-height-1-px"></div>
            <div class="w3-col s12 l10 m10 w3-text-grey">
                <h1 class="w3-center w3-text-orange">به خانواده حاتم بپیوندید</h1>
                <br>
                <div class="w3-row">
                    <div class="w3-col m1 l2 c-height-1-px"></div>
                    <div class="w3-col s12 m10 l8 w3-row">
                        <div class="w3-col s12 m6 l6 w3-padding ">
                            <div class="c-overflow-hidden w3-border w3-border-amber">
                                <img class="c-width-100"
                                     src="{% static 'this_project/img/hatam-camp/photo_2017-02-14_22-42-25.jpg' %}"
                                     alt="">
                            </div>
                            <br>
                            {% if user.institute.all %}
                                <div class="w3-center">شما قبلا موسسه خود را ثبت کرده اید</div>
                            {% else %}
                                <div class="w3-center">

                                    <a href="/accounts/signup?next=/charity/add_institute"
                                       class="w3-padding w3-btn w3-deep-orange">ثبت اطلاعات به عنوان موسسه</a>
                                </div>
                            {% endif %}
                        </div>
                        <div class="w3-col s12 m6 l6 w3-padding ">
                            <div class="c-overflow-hidden w3-border w3-border-amber">
                                <img class="c-width-100"
                                     src="{% static 'this_project/img/hatam-camp/photo_2017-02-14_22-32-33.jpg' %}"
                                     alt="">
                            </div>
                            <br>
                            {% if user.profile %}
                                <div class="w3-center">شما قبلا پروفایل خود را تکمیل نموده اید</div>
                            {% else %}
                                <div class="w3-center">
                                    <a href="/accounts/signup?next=/charity/add_helper" class="w3-btn w3-padding w3-deep-orange w3-text-white">ثبت
                                        اطلاعات به عنوان خیر</a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="w3-col m1 l2 c-height-1-px"></div>
                </div>
            </div>
            <div class="w3-col l1 m1 c-height-1-px"></div>
        </div>
    </div>
{% endblock content %}
{% block footer %}
    {% include 'footer.html' %}
{% endblock footer %}