{% extends 'base.html' %}
{% load staticfiles %}
{% load tags %}
{% block _navbar %}
    {% include 'header.html' with active_link='all' %}
{% endblock %}
{% block scripts %}
    <script>
        window.onload = function () {
{#            var tem_key = "{{ tem_key }}";#}
{#            if (tem_key == 'new_m_t_m_record') {#}
{#                $('#coop-project-ok-not').css('display', 'block');#}
{#                $('#dis-or-coop-p-div').children('.post-pro-div').remove().end();#}
{#                $('#coop-order-2').remove().end();#}
{#                $('#dis-or-coop-p-div').append('<span id="dis-project-btn" class="post-pro-btn w3-btn w3-padding w3-red">انصراف از پروژه</span>');#}
{#            } else if (tem_key == 'dis_mtm') {#}
{#                var afs_count = "{{ this_mtm_user_a_f.count }}";#}
{#                $('#dis-project-ok-not').css('display', 'block');#}
{#                $('#dis-or-coop-p-div').children('.post-pro-div').remove().end();#}
{#                if (afs_count < 4) {#}
{#                    $('#dis-or-coop-p-div').append('<span id="coop-order-btn" class="post-pro-btn coop-order-btn w3-btn w3-padding w3-blue">شروع همکاری</span>')#}
{#                }#}
{#            }#}
        };
        $('body').on('click', '#dis-project-sub', function () {
            $('#dis-project-hidden').attr('value', 'dis_project')
        });
        $('body').on('click', '#coop-order-sub', function () {
            $('#coop-order-hidden').attr('value', 'coop_project')
        });
        $('body').on('click', '.coop-order-btn', function () {
            $('#coop-order-modal').css('display', 'block')
        });
        $('body').on('click', '#dis-project-btn', function () {
            $('#dis-project-modal').css('display', 'block')
        });
    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRAEzWa8J41flFbdXsy6jq7MPHOUrOYkA&callback=initMap">
    </script>
    <script>

        // The following example creates a marker in Stockholm, Sweden using a DROP
        // animation. Clicking on the marker will toggle the animation between a BOUNCE
        // animation and no animation.

        var marker, cLat, cLng;
        function initMap() {
            cLat = "{{ this.lat }}";
            cLng = "{{ this.lng }}";
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 15
            });

            marker = new google.maps.Marker({
                map: map,
                animation: google.maps.Animation.DROP
            });
            var Mlatlng = new google.maps.LatLng(cLat, cLng);
            map.setCenter(Mlatlng);
            marker.setPosition(Mlatlng);
        }
        //*************************csrf****************************//
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                    // Only send the token to relative URLs i.e. locally.
                    xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                }
            }
        });
        //**************************csrf***************************//
        var failOrDefinite = function (post_editor) {
            $.ajax({
                type: "POST",
                url: "/charity/ajax/post/fail_or_definite",
                data: {
                    obj_id: '{{ this.id }}',
                    post_editor: post_editor
                },
                success: function (data) {
                    $('.c_or_d_spinner').remove().end();
                    $('.c_or_d_modal').css('display', 'none');
                    if (data.is_finished === 't') {
                        $('#dis-or-coop-p-div').children('.post-pro-div').remove().end();
                        if (post_editor === 'r') {
                            $('#coop-project-ok-not').css('display', 'block');
                            $('#coop-order-2').remove().end();
                            $('#dis-or-coop-p-div').append('<div class="post-pro-div"><span id="dis-project-btn" class="post-pro-btn w3-btn w3-padding w3-red">انصراف از پروژه</span></div>');
                        } else if (post_editor === 'f_by_h') {
                            var afs_count = parseInt(data.a_f_count);
                            $('#dis-project-ok-not').css('display', 'block');
                            if (afs_count < 4) {
                                $('#dis-or-coop-p-div').append('<div class="post-pro-div"><span id="coop-order-btn" class="post-pro-btn coop-order-btn w3-btn w3-padding w3-blue">شروع همکاری</span></div>')
                            }else {$("#dis-or-coop-p-div").append('<span class="w3-padding w3-text-grey">امکان ثبت نام ندارید</span>')}
                        }
                    }
                },
                error: function () {
                    $('.c_or_d_spinner').remove().end()
                }
            });
        };
        $('body').on('click', '#dis-project-sub', function () {
            failOrDefinite('f_by_h');
            $(this).append('<i class="fa fa-spinner c_or_d_spinner fa-pulse fa-fw"></i>');
        });
        $('body').on('click', '#coop-order-sub', function () {
            failOrDefinite('r');
            $(this).append('<i class="fa fa-spinner c_or_d_spinner fa-pulse fa-fw"></i>');
        });
    </script>
{% endblock scripts %}
{% block content %}
    <div class="w3-text-grey w3-light-grey">
        <div class="w3-row w3-text-grey" dir="rtl">
            <div class="w3-col l1 c-height-1-px"></div>
            <div class="w3-col s12 m12 l10" dir="rtl">
                <br>
                <br>
                <div class="w3-white">
                    <div class="row" dir="rtl">
                        <div class="w3-col m1 l2 c-height-1-px"></div>
                        <div class="w3-col s12 m10 l8">
                            {% if this.image %}
                                {% img_use_by_static this.image.url as img_url %}
                                <img src="{% static img_url %}" class="c-width-100">
                            {% elif this.institute.profile_image %}
                                {% img_use_by_static this.institute.profile_image.url as img_url %}
                                <img src="{% static img_url %}" class="c-width-100">
                            {% endif %}
                        </div>
                        <div class="w3-col m1 l2 c-height-1-px"></div>
                    </div>
                </div>
                <div class="w3-text-grey w3-white c-radius-5" dir="rtl">
                    <div class="w3-row w3-text-grey w3-container" dir="rtl">
                        <div id="dis-or-coop-p-div" class="w3-col s12 m2 l3 w3-center w3-padding-24">
                            <div class="post-pro-div">
                                {% if user.is_authenticated %}
                                    {% if this_mtm_user.all %}
                                        <span id="dis-project-btn" class="post-pro-btn w3-btn w3-padding w3-red ">
                                            انصراف
                                            از
                                            پروژه
                                        </span>
                                    {% else %}
                                        {% if this_mtm_user_a_f.all %}
                                            {% if this_mtm_user_a_f.count < 4 %}
                                                <span id="coop-order-btn"
                                                      class="coop-order-btn post-pro-btn w3-btn w3-padding w3-blue">
                                                    شروع
                                                    همکاری
                                                </span>
                                            {% else %}
                                                <span class="w3-padding w3-text-grey">
                                            امکان ثبت نام مجدد ندارید
                                        </span>
                                            {% endif %}
                                        {% else %}
                                            <span id="coop-order-btn"
                                                  class="coop-order-btn post-pro-btn w3-btn w3-padding w3-blue">
                                        شروع
                                        همکاری
                                    </span>
                                        {% endif %}
                                    {% endif %}
                                {% else %}
                                    <span id="coop-order-btn"
                                          class="coop-order-btn post-pro-btn w3-btn w3-padding w3-blue">
                                        شروع
                                        همکاری
                                    </span>
                                {% endif %}
                                <!--------------------------------------------------------------------------->
                            </div>
                            <div id="coop-order-modal" class="w3-modal c-radius-5 c_or_d_modal" dir="rtl">
                                <div class="w3-modal-content w3-animate-top w3-card-8 c-radius-5" dir="rtl">
                                    <header class="w3-container w3-teal c-radius-5 w3-panel w3-padding-12"
                                            dir="rtl">
        <span onclick="document.getElementById('coop-order-modal').style.display='none'"
              class="w3-closebtn">&times;</span>
                                        <span>سلام {{ user.username }} قصد شروع همکاری دارید؟</span>
                                    </header>
                                    <div dir="rtl" class="w3-container">
                                        <br>
                                        {% if not user.is_authenticated %}
                                            <p>لطفا ابتدا لاگین کنید.</p>
                                            <br>
                                            <div class="w3-row">
                                                <div class="w3-col w3-half w3-center w3-padding">
                                                    <a class="btn btn-lg w3-blue"
                                                       href="/accounts/signup/?next={{ request.path }}">ثبت
                                                        نام</a>
                                                </div>
                                                <div class="w3-col w3-half w3-center w3-padding">
                                                    <a class="btn btn-lg w3-teal"
                                                       href="/accounts/login/?next={{ request.path }}">ورود</a>
                                                </div>
                                            </div>
                                        {% else %}
                                            {% if user.profile %}
                                                <p>در صورت بررسی کامل پروژه اگر قصد همکاری دارید لطفا دکمه ثبت را فشار
                                                    دهید.</p>
                                                <form id="" method="post" enctype="multipart/form-data">
                                                    {% csrf_token %}
                                                    <span class="btn btn-lg w3-teal"
                                                          id="coop-order-sub">
                                                        ثبت
                                                    </span>
                                                    <input type="hidden" name="post_editor" id="coop-order-hidden">
                                                </form>
                                            {% else %}
                                                <p>برای شرکت در این پروژه لطفا پروفایل خود را تکمیل کنید.</p>
                                                <a href="/charity/add_helper?next={{ request.path }}"
                                                   class="btn btn-lg w3-blue">تکمیل پروفایل</a>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                    <footer class="w3-container w3-padding-12 w3-teal c-radius-5 w3-panel" dir="rtl">
                                        <span class="">شروع همکاری یعنی قبول مسئولیت</span>
                                    </footer>
                                </div>
                            </div>
                            <div id="dis-project-modal" class="w3-modal c-radius-5 c_or_d_modal" dir="rtl">
                                <div class="w3-modal-content w3-animate-top w3-card-8 c-radius-5" dir="rtl">
                                    <header class="w3-container w3-teal c-radius-5 w3-panel w3-padding-12"
                                            dir="rtl">
        <span onclick="document.getElementById('dis-project-modal').style.display='none'"
              class="w3-closebtn">&times;</span>
                                        <span>سلام {{ user.username }} قصد انصراف داری؟</span>
                                    </header>
                                    <div dir="rtl" class="w3-container">
                                        <br>
                                        <p>لطفا در صورت تصمیم جدی برای انصراف دکمه اصراف از پروژه را فشار دهید</p>
                                        <form id="" method="post" enctype="multipart/form-data">
                                            {% csrf_token %}
                                            <span class="btn dis_or_coop_sub btn-lg w3-red" id="dis-project-sub">انصراف
                                                از پروژه
                                            </span>
                                            <input type="hidden" name="post_editor" id="dis-project-hidden">
                                        </form>
                                    </div>
                                    <footer class="w3-container w3-padding-12 w3-teal c-radius-5 w3-panel" dir="rtl">
                                        <span class="">فکرهاتو کردی؟</span>
                                    </footer>
                                </div>
                            </div>
                        </div>
                        <div class="w3-col s12 m10 l9 w3-text-grey" dir="rtl">
                            <h2 class="w3-text-deep-orange w3-padding">{{ this.title }}</h2>
                            <h4 class="w3-text-deep-orange w3-padding">نوع پروژه:
                                {{ this.help_type }}</h4>
                            <a class="w3-text-cyan w3-padding"
                               href="/charity/view_institute/{{ this.institute.id }}">موسسه: {{ this.institute.title }}</a>
                            <div class="w3-text-cyan w3-row">
                                <div class="w3-col m6 l4 s12 w3-padding">محل پروژه: {{ this.location }}</div>
                                <div class="w3-col m6 l4 s12 w3-padding">تاریخ شروع: {{ this.start_date }}</div>
                                <div class="w3-col m6 l4 s12 w3-padding">تاریخ پایان: {{ this.end_date }}</div>
                                <div class="w3-col m6 l4 s12 w3-padding">پروژه در یک جمله: {{ this.sentence }}</div>
                                <div class="w3-col m6 l4 s12 w3-padding">گروه مخاطب
                                    پروژه: {{ this.get_addressed_display }}</div>
                                <div class="w3-col m6 l4 s12 w3-padding">رده سنی مورد نیاز:
                                    {% if this.max_age %}{{ this.max_age }}{% else %}120{% endif %} -
                                    {% if this.min_age %}{{ this.min_age }}{% else %}10{% endif %}</div>
                                <div class="w3-col m6 l4 s12 w3-padding">جنسیت مورد
                                    نیاز: {{ this.get_gender_display }}</div>
                                {% if this.from_home %}
                                    <div class="w3-col m6 l4 s12 w3-padding">خیرخواهی از خانه</div>
                                {% endif %}
                                {% if this.accommodation %}
                                    <div class="w3-col m6 l4 s12 w3-padding"> دارای محل اقامت <i class="fa fa-bed"
                                                                                                 aria-hidden="true"></i>
                                    </div>
                                {% endif %}
                                {% if this.immediate %}
                                    <div class="w3-col m6 l4 s12 w3-padding w3-text w3-border-deep-orange">نیاز فوری<i
                                            class="fa fa-bed"
                                            aria-hidden="true"></i>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="w3-row" dir="rtl">
                    <br>
                    <div class="w3-col s12 m12 l9 ">
                        <div class="w3-padding">
                            <div class="c-border-bottom-2-s"></div>
                        </div>
                        {% if this.explanation %}
                            <div class="w3-padding">
                                <h3>توضیحات</h3>
                                <p>{{ this.explanation }}</p>
                            </div>
                            <div class="w3-padding">
                                <div class="c-border-bottom-2-s"></div>
                            </div>
                        {% endif %}
                        {% if this.institute.explanation %}
                            <br>
                            <div class=" w3-padding">
                                <h3>در باره: {{ this.institute.title }}</h3>
                                <div style="max-height: 300px; overflow: hidden">{{ this.institute.explanation }}</div>
                                <a href="/charity/view_institute/{{ this.institute.id }}" class="w3-text-deep-orange">دیدن
                                    موسسه</a>
                            </div>
                            <div class="w3-padding">
                                <div class="c-border-bottom-2-s"></div>
                            </div>
                        {% endif %}
                        <div class="w3-padding">
                            <h3>محل پروژه</h3>
                            <div id="map" style="height: 400px" class=""></div>
                        </div>
                        <div class="w3-padding">
                            <div class="c-border-bottom-2-s"></div>
                        </div>
                    </div>
                    <div class="w3-col s12 m12 l3 " dir="rtl">
                        {% if similar_this %}
                            <div class="w3-row">
                                {% for pro in similar_this %}
                                    <div class="w3-col l12 m4 s12 w3-border w3-border-light-grey">
                                        <div class="w3-col s1 c-height-1-px"></div>
                                        <div class="w3-padding w3-padding-16 w3-white w3-col s10 m12 l12 w3-round">
                                            <div style="max-height: 250px;overflow: hidden">
                                                {% if pro.image %}
                                                    {% img_use_by_static pro.image.url as img_url %}
                                                    <img src="{% static img_url %}" class="c-width-100">
                                                {% elif pro.institute.profile_image %}
                                                    {% img_use_by_static pro.institute.profile_image.url as img_url %}
                                                    <img src="{% static img_url %}" class="c-width-100">
                                                {% endif %}
                                            </div>
                                            <div class="w3-light-grey w3-padding w3-text-grey">
                                                <a class="w3-text-orange"
                                                   href="/charity/project/{{ pro.id }}">عنوان: {{ pro.title }}</a>
                                                <br>
                                                <span class="">نوع پروژه: {{ pro.help_type }}</span>
                                            </div>
                                        </div>
                                        <div class="w3-col s1 c-height-1-px"></div>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="w3-col l1 c-height-1-px"></div>
        </div>
        <br>
    </div>
    <!------------------------------=================modal notifications========================----------------------->
    <!------------=============new m_t_m=======================---------------------->
    <div class="w3-container">
        <div dir="rtl" id="coop-project-ok-not" class="w3-modal w3-animate-opacity">
            <div class="w3-modal-content w3-card-8 c-radius-5 w3-text-grey">
                <header class="w3-container w3-teal c-radius-5 w3-padding-12">
            <span onclick="document.getElementById('coop-project-ok-not').style.display='none'"
                  class="w3-closebtn">&times;</span>
                </header>
                <div class="w3-container c-radius-5 w3-center">
                    <p>شما به عنوان رزرو در این پروژه ثبت نام شدید<br>در صورتی که تا 24 ساعت آینده تغییری در وضعیت ثبت
                        نام شما رخ نداد لطفا با شماره رابط موسسه تماس بگیرید و علت را جویا شوید.
                        <br>{{ this.institute.agent_num }}</p>
                </div>
                <footer class=" w3-container w3-teal w3-padding-12">
                </footer>
            </div>
        </div>
    </div>
    <!------------=============end new m_t_m=======================---------------------->
    <!------------=============dis m_t_m=======================---------------------->
    <div class="w3-container">
        <div dir="rtl" id="dis-project-ok-not" class="w3-modal w3-animate-opacity">
            <div class="w3-modal-content w3-card-8 c-radius-5 w3-text-grey">
                <header class=" w3-container w3-teal c-radius-5 w3-padding-12">
            <span onclick="document.getElementById('dis-project-ok-not').style.display='none'"
                  class="w3-closebtn">&times;</span>
                </header>
                <div class="w3-container c-radius-5 w3-center">
                    <p>عملیات انصراف با موفقیت انجام شد</p>
                </div>
                <footer class="w3-panel w3-container w3-teal">
                </footer>
            </div>
        </div>
    </div>
    <!------------=============end dis m_t_m=======================---------------------->
    <!------------=============dis m_t_m=======================---------------------->
    <div class="w3-container">
        <div dir="rtl" id="first_note" class="w3-modal w3-animate-opacity">
            <div class="w3-modal-content w3-card-8 c-radius-5 w3-text-grey">
                <header class=" w3-container w3-teal c-radius-5 w3-padding-12">
            <span onclick="document.getElementById('first_note').style.display='block'"
                  class="w3-closebtn">&times;</span>
                </header>
                <div class="w3-container c-radius-5">
                    <p></p>
                </div>
                <footer class="w3-panel w3-container w3-teal">
                </footer>
            </div>
        </div>
    </div>
    <!------------=============end dis m_t_m=======================---------------------->
{% endblock content %}
{% block footer %}
    {% include 'footer.html' %}
{% endblock footer %}