{% extends 'base.html' %}
{% load tags %}
{% load staticfiles %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'datepicker/css/persianDatepicker-default.css' %}"/>
    <link href="{% static 'datepicker/css/normalize.css' %}" rel='stylesheet'/>
    <link href="{% static 'datepicker/css/vertical-responsive-menu.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'datepicker/css/prism.css' %}" rel="stylesheet"/>
    <link rel="stylesheet" href="{% static 'datepicker/css/persianDatepicker-default.css' %}"/>
    <link rel="stylesheet" href="{% static 'datepicker/css/persianDatepicker-dark.css' %}"/>
    <link rel="stylesheet" href="{% static 'datepicker/css/persianDatepicker-latoja.css' %}"/>
    <link rel="stylesheet" href="{% static 'datepicker/css/persianDatepicker-melon.css' %}"/>
    <link rel="stylesheet" href="{% static 'datepicker/css/persianDatepicker-lightorang.css' %}"/>
{% endblock styles %}
{% block scripts %}
    <!------------------------------------------------------------------->
    <script src="{% static 'datepicker/js/prism.js' %}"></script>
    <script src="{% static 'datepicker/js/vertical-responsive-menu.min.js' %}"></script>
    <script src="{% static 'datepicker/js/jquery-1.10.1.min.js' %}"></script>
    <script src="{% static 'datepicker/js/persianDatepicker.min.js' %}"></script>
    <script src="{% static 'this_project/js/project-all-map--page.js' %}">
    </script>
    <script src="{% static 'this_project/js/ajax-get-h-type.js' %}">
    </script>
    <script>
        var t_id = 0;
        $('body').on('click', '.acc-btn', function () {
            t_id = $(this).children('input').val();
            ajax_tOrTool_editor = 'type';
            var next_id = 'acc_div_' + this.id.substr(7, this.id.length);
            AjaxGetTypeAndTooltip(next_id)
        });
        var AjaxGetTypeAndTooltip = function (next_id) {
            $.ajax({
                type: "GET",
                url: "/charity/ajax/get_type_or_tooltip",
                data: {
                    t_id: t_id
                },
                success: function (data) {
                    $('#' + next_id).children(".acc_for_del").remove().end();
                    for (var j = 0, len = data.h_t_children_wot_child.length; j < len; j++) {
                        $('#' + next_id).append(
                                '<h5 id="acc_h5_' + data.h_t_children_wot_child[j].t__i + '" class="w3-teal acc_for_del h_type_btn0 w3-margin-0 acc_h5 w3-tooltip"><span class="title_p_holder">' + data.h_t_children_wot_child[j].t__title + '</span><input type="hidden" value="' + data.h_t_children_wot_child[j].t__i + '">' +
                                //////////////////////////////////////////////////////
                                '<div class=" w3-col s10 m7 l7 w3-light-grey ajax_tTip_main_divs w3-text w3-text-grey w3-card-8 w3-round ' +
                                'c-overflow-hidden w3-padding w3-animate-opacity" ' +
                                'style="">' +
                                '<span class="w3-show-block ajax_tTip_divs w3-col c-overflow-hidden s4 m4 l4"><img class="c-width-100" src="' + data.h_t_children_wot_child[j].h_t_img + '"></span>' +
                                '<span class="w3-show-block ajax_tTip_divs w3-col s8 m8 l8">با انتخاب این گزینه شما کمک رسانی هایی از نوع <span class="w3-text-deep-orange">' + data.h_t_children_wot_child[j].t__title + '</span> را خواهید دید.</span>' +
                                '</div>' +
                                //////////////////////////////////////////////////////
                                '</h5><div id="acc_div_' + data.h_t_children_wot_child[j].t__i + '" class="acc_for_del acc_wot_child"></div>'
                        )
                    }
                    for (var j = 0, len = data.h_t_children_w_child.length; j < len; j++) {
                        $('#' + next_id).append(
                                '<h5 id="acc_h5_' + data.h_t_children_w_child[j].t__i + '" class="acc-btn acc_for_del acc_h5 w3-margin-0 w3-tooltip">' + data.h_t_children_w_child[j].t__title + '<input type="hidden" value="' + data.h_t_children_w_child[j].t__i + '">' +
                                //////////////////////////////////////////////////////
                                '<div class="w3-col s10 m7 l7 w3-light-grey  w3-text ajax_tTip_main_divs w3-text-grey w3-card-8 w3-round ' +
                                'c-overflow-hidden w3-padding w3-animate-opacity" ' +
                                'style="">' +
                                '<span class="w3-show-block ajax_tTip_divs w3-col c-overflow-hidden s4 m4 l4"><img class="c-width-100" src="' + data.h_t_children_w_child[j].h_t_img + '"></span>' +
                                '<span class="w3-show-block ajax_tTip_divs w3-col s8 m8 l8">با انتخاب این گزینه شما دسته بندی مربوط به کمک رسانی از نوع <span class="w3-text-deep-orange">' + data.h_t_children_w_child[j].t__title + '</span> را خواهید دید.</span>' +
                                '</div>' +
                                //////////////////////////////////////////////////////

                                '</h5><div id="acc_div_' + data.h_t_children_w_child[j].t__i + '" class="w3-padding acc_for_del acc_with_child"></div>'
                        )
                    }
                }
            });
        };
    </script>
    <script>
        var headers = ["H1", "H2", "H3", "H4", "H5", "H6"];

        $(".accordion").click(function (e) {
            var target = e.target,
                    name = target.nodeName.toUpperCase();

            if ($.inArray(name, headers) > -1) {
                var subItem = $(target).next();

                var depth = $(subItem).parents().length;
                var allAtDepth = $(".accordion p, .accordion div").filter(function () {
                    if ($(this).parents().length >= depth && this !== subItem.get(0)) {
                        return true;
                    }
                });
                $(allAtDepth).slideUp("fast");
                subItem.slideToggle("fast", function () {
                });
            }
        });
    </script>
    <script src="//maps.googleapis.com/maps/api/js?key=AIzaSyCRAEzWa8J41flFbdXsy6jq7MPHOUrOYkA&libraries=places&callback=initialize"></script>
    <script type="text/javascript">
        var map, geocoder;
        var url_query = "{{ query }}";
        var UMarker;
        var mapCenter = new google.maps.LatLng(32.489833750751, 54.0686640625);
        var markers = [];
        var infowindow = new google.maps.InfoWindow({});
        google.maps.event.addListener(infowindow, 'closeclick', function () {
            map.setZoom(14);
        });
        function initialize() {
            var googleMapOptions =
            {
                center: mapCenter,
                zoom: 6,
                panControl: true,
                zoomControl: true,
                mapTypeControl: true,
                streetViewControl: true,
                overviewMapControl: true,
                rotateControl: true,
                zoomControlOptions: {
                    style: google.maps.ZoomControlStyle.SMALL
                },
                scaleControl: true,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            map = new google.maps.Map(document.getElementById("map"), googleMapOptions);
            geocoder = new google.maps.Geocoder();
            geocodeAddress(geocoder, map);
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function (position) {
                    UMarker = new google.maps.Marker({
                        position: {lat: position.coords.latitude, lng: position.coords.longitude},
                        map: map,
                        title: 'موقعیت مکانی شما',
                        icon: "http://maps.google.com/mapfiles/ms/micons/grn-pushpin.png"
                    });
                    $("#map").append('<span class="w3-btn w3-circle w3-padding-24 c-font-large w3-margin-top w3-margin-right w3-teal" id="filter_sub_my_loc">جستجو در<br> نزدیکی من</span>');
                    map.controls[google.maps.ControlPosition.RIGHT_TOP].push(document.getElementById('filter_sub_my_loc'));
                }, function () {
                    handleLocationError();
                });
            } else {
                handleLocationError();
            }
        }
    </script>
{% endblock %}
{% block _navbar %}
    {% include 'header.html' %}
{% endblock %}
{% block content %}
    <script>
        function deleteMarkers() {
            clearMarkers();
            markers = [];
        }
        function setMapOnAll(map) {
            for (var i = 0; i < markers.length; i++) {
                markers[i].setMap(map);
            }
        }
        function clearMarkers() {
            setMapOnAll(null);
        }
        function handleLocationError() {
            $("#cities_modal").css('display', 'block')
        }
        var cityAddress;
        function geocodeAddress(geocoder, resultsMap) {
            var address = document.getElementById('c_f_input').value;
            if (address == "main_cities") {
                {#                    map.setCenter(new google.maps.LatLng(32.489833750751, 54.0686640625));#}
                $("#center_lat").val('');
                $("#center_lng").val('');
            } else {
                geocoder.geocode({'address': address}, function (results, status) {
                    if (status === 'OK') {
                        cityAddress = results[0].geometry.location;
                        var filter_check = $("#filter_check").val();
                        $("#center_lat").val(results[0].geometry.location.lat());
                        $("#center_lng").val(results[0].geometry.location.lng());
                    } else {
                        alert('محل مورد نظر پیدا نشد. لطفا محل دیگری نزدیک به همان محل را انتخاب کنید.');
                    }
                });
            }
        }
    </script>
    <script>
        var AjaxMapProjectFilter = function () {
            $.ajax({
                type: "GET",
                url: "/charity/ajax/pro_all__filter",
                data: {
                    t_f_id: $('#p_f_t_input').val(),
                    i_id: $('#p_f_i_input').val(),
                    s1_date: $('#p_f_s1_d_input').val(),
                    s2_date: $('#p_f_s2_d_input').val(),
                    e1_date: $('#p_f_e1_d_input').val(),
                    e2_date: $('#p_f_e2_d_input').val(),
                    is_from_h: $('#p-f-from-h').val(),
                    center_lat: $('#center_lat').val(),
                    center_lng: $('#center_lng').val(),
                    query: "{{ query }}"
                },
                success: function (data) {
                    console.log(data.l);
                    $('#filter-sub').children('.fa-spinner').remove().end();
                    if ($("#center_lat").val()) {
                        map.setCenter(new google.maps.LatLng($("#center_lat").val(), $("#center_lng").val()));
                        map.setZoom(11);
                    } else {
                        map.setCenter(new google.maps.LatLng(32.489833750751, 54.0686640625));
                        map.setZoom(6);
                    }
                    clearMarkers();
                    var objMarker, i;
                    if (data.empty) {
                        alert("موردی پیدا نشد")
                    } else {
                        for (var j = 0, len = data.obj_list.length; j < len; j++) {
                            i = data.obj_list[j].id;
                            objMarker = new google.maps.Marker({
                                position: {lat: data.obj_list[j].lat, lng: data.obj_list[j].lng},
                                map: map,
                                {#                        draggable: true,#}
                                animation: google.maps.Animation.DROP,
                                title: data.obj_list[j].title,
                                icon: "http://hatamm.ir/" + data.obj_list[j].h_t_img
                            });
                            markers.push(objMarker);
                            google.maps.event.addListener(objMarker, 'click', (function (objMarker, i, infowindow) {
                                return function () {
                                    PInfo(objMarker, i, infowindow);
                                    map.setZoom(19);
                                    map.setCenter(objMarker.getPosition());
                                }
                            })(objMarker, i, infowindow));

                        }
                    }
                },
                error: function () {
                    alert("موردی پیدا نشد");
                    markers.push(objMarker);
                    $('#filter-sub').children('.fa-spinner').remove().end();
                }
            });
        }
    </script>
    <script>
        var PInfo = function (marker, obj_id, infowindow) {
            $.ajax({
                type: "GET",
                url: "/charity/ajax/map_test",
                data: {
                    obj_id: obj_id,
                    data_qu: "{{ query }}"
                },
                success: function (data) {
                    var info;
                    info = '<div class="c-padding-right-22 c-font-koodak w3-text-grey " style="max-width:240px">' +
                            '<div class="w3-row">' +
                            '<div class="w3-col s12 m12 l12">' +
                            '<div class="c-overflow-hidden w3-round">' +
                            '<img src="' + data.img_url + '" class="c-width-100">' +
                            '</div>' +
                            '</div>' +
                            '<div class="w3-col s12 m12 l12 w3-center">' +
                            '<div class="w3-center"><a class="w3-text-deep-orange" href="/charity/project/' + data.id + '">' + data.title + '</a></div>' +
                            '<div class="w3-center">' + data.h_t + '</div>' +
                            '<div class="w3-center">' + data.sentence + '</div>' +
                            '<div class="w3-center">' +
                            '<a class="w3-text-blue" href="/charity/view_institute/' +
                            '' + data.ins_id + '"> نام موسسه: ' + data.ins_title + '</a>' +
                            '</div>' +
                            '<div class="w3-center c-overflow-hidden" style="max-height:88px">' + data.explanation + '</div>' +
                            '<div class="w3-center c-overflow-hidden">' +
                            '<a class="w3-text-deep-orange w3-btn w3-deep-orange w3-text-white w3-round" href="/charity/project/' + data.id + '">بیشتر ببینید</a>' +
                            '</div>' +
                            '</div>' +
                            '</div>' +
                            '</div>';
                    infowindow.close();
                    infowindow.setContent(info);
                    infowindow.open(map, marker);
                }
            });
        }
    </script>
    <div id="map_and_filter" style="display: none">
        <div class="">

            <div class="w3-text-white c-dark-red w3-border-bottom w3-border-dark-grey" dir="rtl">
                <br>
                <br>
                <h1 class="w3-padding w3-margin-0 w3-text-orange">کمک های خیر خواهانه</h1>
                <div class="w3-container">
                    <div class=" w3-row">
                        <div class="w3-row w3-col s12 m4 l4 w3-padding">
                            <b class="w3-text-orange">نوع کمک رسانی:</b>
                            <div class="w3-col s12 m12 l12 c-radius-5  w3-dropdown-click w3-center">
                                <input onclick="dropdownFunction('p_filter_type_select')" type="text"
                                       placeholder="همه"
                                       class="c-cursor-pointer w3-input w3-text-grey p_f_input w3-round-jumbo w3-light-grey"
                                       id="p_f_t_btn">
                                <div id="p_filter_type_select" class="w3-white c-radius-5 w3-dropdown-content"
                                     style=" width:100%; z-index:1000">
                                </div>
                            </div>
                        </div>
                        <div class="w3-row w3-col s12 m4 l4 w3-padding">
                            <b class="w3-text-orange">شهر:</b>
                            <div class="w3-col s12 m12 l12 c-radius-5  w3-dropdown-click w3-center">
                                <input onclick="dropdownFunction('p_filter_city_select')" type="text"
                                       placeholder="همه"
                                       class="c-cursor-pointer w3-input w3-text-grey p_f_input w3-round-jumbo w3-light-grey"
                                       id="p_f_c_btn">
                                <div id="p_filter_city_select"
                                     class=" w3-white c-radius-5 w3-dropdown-content cities_list"
                                     style=" width:100%; z-index:1000">
                                </div>
                            </div>
                        </div>
                        <div class="w3-row w3-col s12 m4 l4 w3-padding">
                            <b class="w3-text-orange">نام موسسه:</b>
                            <div class="w3-col s12 m12 l12 c-radius-5  w3-dropdown-click w3-center">
                                <input type="text" placeholder="همه"
                                       class="c-cursor-pointer w3-text-grey w3-input p_f_input w3-round-jumbo w3-light-grey"
                                       id="p-f-i-btn" onclick="dropdownFunction('p_filter_i_select')"
                                       onkeyup="PFISFunction()">
                                <div dir="rtl" id="p_filter_i_select"
                                     class="w3-white c-radius-5 w3-dropdown-content"
                                     style=" width:100%; z-index:1000">
                                    <input type="hidden" value="0" class="p_f_input" name="i_id"
                                           id="p_f_i_input">
                                    <table dir="rtl" class="c-radius-5 w3-table-all" id="p-f-instituteTable">
                                        <tr dir="rtl">
                                            <td class="c-cursor-pointer p-f-i-op w3-center">همه<input
                                                    type="hidden"
                                                    value="0">
                                            </td>
                                        </tr>
                                        {% for ins in institute_list %}
                                            <tr dir="rtl">
                                                <td class="c-cursor-pointer p-f-i-op w3-center">{{ ins.title }}<input
                                                        type="hidden"
                                                        value="{{ ins.id }}">
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </table>
                                </div>
                            </div>
                        </div>
                        <input type="hidden" value="0" class="p_f_input"
                               id="p_f_i_input">
                    </div>
                    <div class="w3-row">
                        <div class="w3-col w3-row l9 m9 s12">
                            <div class="w3-col s6 m4 l4 w3-padding">
                                <b class="w3-text-orange">فیلتر با تاریخ پایان:</b>
                                <input type="text" placeholder=" تاریخ پایان از این زمان باشد"
                                       class="c-cursor-pointer w3-input w3-round-jumbo p_f_input w3-light-grey w3-text-grey"
                                       id="p_f_e1_d_input" name="e1_date">
                                <input type="text" placeholder="تاریخ پایان تا این زمان باشد"
                                       class="c-cursor-pointer w3-input w3-margin-top w3-round-jumbo p_f_input w3-light-grey w3-text-grey"
                                       id="p_f_e2_d_input" name="e2_date">
                            </div>
                            <div class="w3-col s6 m4 l4 w3-padding">
                                <b class="w3-text-orange">فیلتر با تاریخ شروع:</b>
                                <input type="text" placeholder="تاریخ شروع از این زمان باشد"
                                       class="c-cursor-pointer w3-input w3-round-jumbo p_f_input w3-light-grey w3-text-grey"
                                       id="p_f_s1_d_input" name="s1_date">
                                <input type="text" placeholder="تاریخ شروع تا این زمان باشد"
                                       class="c-cursor-pointer w3-margin-top w3-input w3-round-jumbo p_f_input w3-light-grey w3-text-grey"
                                       id="p_f_s2_d_input" name="s2_date">
                            </div>
                            <div class="w3-col s12 m4 l4 w3-padding">
                                <b class="w3-text-orange">کمک رسانی از خانه یا نه:</b>
                                <div class="w3-col s12 m12 l12 c-radius-5  w3-dropdown-hover w3-center">
                                    <input type="text" placeholder="همه"
                                           class=" w3-text-grey w3-light-grey w3-input w3-round-jumbo"
                                           id="from_home_or_no_btn">
                                    <div id="from_home_or_no_select" class="w3-white c-radius-5 w3-dropdown-content"
                                         style=" width:100%; z-index:1000">
                                        <input type="hidden" value="no" class=""
                                               id="p-f-from-h" name="is_from_h">
                                        <div class="w3-hover-grey c-cursor-pointer w3-center w3-padding-12 from_home_or_no_op">
                                            <input type="hidden" value="no">همه
                                        </div>
                                        <div class="w3-hover-grey w3-light-grey c-cursor-pointer w3-center w3-padding-12 from_home_or_no_op">
                                            <input type="hidden" value="ok">از خانه
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="w3-col l3 m3 s12 w3-padding">
                            <br>
                            <div id="filter_subs_div">
                                <button class="btn w3-deep-orange btn-lg w3-margin-bottom" style="" id="filter-sub">
                                    جستجو
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
            </div>
            <div id="test"></div>
        </div>
        <div id="map" style="height: 100vh"></div>
    </div>
    <div style="min-height: 90vh" id="before_map" class="w3-light-grey w3-container">
        <br>
        <br>
        <br>
        <h2 class="w3-center w3-text-teal">
            قصد دارید چه کمکی انجام دهید؟
        </h2>

        <div class="w3-row">
            <div class="w3-col m2 l3 c-height-1-px"></div>
            <div class="w3-col s12 m8 l6">
                <aside id="accordion_aside" class="accordion w3-black w3-round">
                </aside>
            </div>
            <div class="w3-col m2 l3 c-height-1-px"></div>
        </div>

    </div>
    <input type="hidden" id="center_lat" value="32" class="">
    <input type="hidden" id="center_lng" value="54" class="">
    <input type="hidden" id="query" value="{{ query }}" class="">
    <input id="address" type="hidden" value="استان قم">
    <input id="filter_check" type="hidden" value="t">
    <!----------------------------before_all_hip------------------------------------->
    <input type="hidden" name="city" id="city" value="">
    <input type="hidden" class="" name="h_type" id="h_type" value="">
    <input type="hidden" name="t_f_id" id="p_f_t_input" value="0">
    <input type="hidden" name="c_f_input" id="c_f_input" value="main_cities">
    <!----------------------------before_all_hip------------------------------------->
{% endblock content %}
{% block footer %}
    {% include 'footer.html' %}
{% endblock %}