{% extends 'base.html' %}
{% load staticfiles %}
{% load tags %}
{% block scripts %}
{% endblock %}
{% block _navbar %}
    {% include 'header.html' with active_link='all' %}
{% endblock %}
{% block content %}
    <div class="w3-light-grey" style="min-height: 96vh">
        <br>
        <br>
        <br>
        <div class="w3-row w3-text-grey">
            <div class="w3-col l1 m1 c-height-1-px"></div>
            <div class="w3-col s12 l10 m10 ">
                <div class="w3-row">
                    <div class="w3-col s12 m4 l3 w3-padding">
                        <div class="w3-col s3 c-height-1-px"></div>
                        <div class="w3-col s6 m12 l12">
                            {% if this.profile_image %}
                                {% img_use_by_static this.profile_image.url as img_url %}
                                <img src="{% static img_url %}"  class="w3-circle w3-card-8 c-width-100">
                            {% else %}
                                <img class="c-width-100 w3-circle"
                                     src="{% static 'this_project/img/persons-img/person1.png' %}" alt="">
                            {% endif %}
                        </div>
                        <div class="w3-col s3 c-height-1-px"></div>
                    </div>
                    <div class="w3-col s12 m8 l9 w3-padding">
                        <h4 class="c-font-mehr w3-text-blue">{{ this.user.username }}</h4>
                        <h5 class="c-font-mehr">{% if this.age %}{{ this.age }} ساله{% endif %}  {% if this.location %}
                            از
                            {{ this.location }} {% endif %}</h5>
                        {% if this.religion %}
                            <span class="w3-padding w3-margin-bottom">دین: {{ this.get_religion_display }}</span>{% endif %}
                        {% if this.job %}<span class="w3-padding w3-margin-bottom">شغل: {{ this.job }}</span>{% endif %}
                        {% if this.is_married %}<span class="w3-padding w3-margin-bottom">متاهل</span>{% endif %}
                        {% if this.voluntary_experience %}
                            <div class="w3-padding w3-margin-bottom c-border-white-3"><h1
                                    class="c-font-kamran w3-text-blue">تجربه های داوطلبانه</h1>
                                <p>{{ this.voluntary_experience }}</p>
                            </div>{% endif %}
                        {% if this.about_you %}
                            <div id="about-this" class="w3-padding w3-margin-bottom c-border-white-3"><h1
                                    class="c-font-kamran w3-text-blue">و اما از {{ this.user.username }} درباره {{ this.user.username }}:</h1>
                                <p>{{ this.about_you }}</p>
                            </div>{% endif %}
                    </div>
                </div>
            </div>
            <div class="w3-col l1 m1 c-height-1-px"></div>
        </div>
    </div>
{% endblock content %}
{% block footer %}
    {% include 'footer.html' %}
{% endblock footer %}