{% extends 'base.html' %}
{% load staticfiles %}
{% block styles %}

{% endblock styles %}
{% block scripts %}
{% endblock %}
{% block _navbar %}
    {% include 'header.html' with active_link='all' %}
{% endblock %}
{% block content %}
    <div class="w3-container w3-text-grey w3-animate-opacity w3-light-grey" dir="rtl">
        <br>
        <div class="w3-row w3-right-align">
            <div class="w3-col l2 m1 c-height-1-px"></div>
            <div class="w3-col s12 l8 m10 w3-text-grey">
                <br>
                <h1 class="w3-center w3-text-orange">قوانین حاتم</h1>
                <br>
                <div class="w3-padding w3-border w3-border-amber w3-white w3-text-grey">
                    <br>
                    <h2 class="w3-text-orange w3-center">قوانین کلی</h2>
                    <br>
                    <div class="w3-row">
                        <div class="w3-col s11 m11 l11 w3-center">
                            مطالب سایت حاتم صرفاً به منظور اطلاع رسانی و معرفی موسسات به اشخاص حقیقی و
                            حقوقی است که مایل به آشنایی، همکاری، کمک رسانی، عضویت و فعالیت داوطلبانه در حوزه‌های مالی،
                            خدماتی و کالایی در پروژه های تعریف شده می‌باشند.
                        </div>
                        <div class="w3-col s1 m1 l1"><span
                                class="w3-light-grey w3-circle c-font-large w3-text-amber work-e-step-num"
                                style="">1</span></div>
                    </div>
                    <hr>
                    <div class="w3-row">
                        <div class="w3-col s11 m11 l11 w3-center">
                            حقوق لوگو، تصاویر (اعم از عکس یا ویدئو) و طراحی‌های این وبسایت منحصراً متعلق به حاتم بوده،
                            اقتباس و کپی از آنها به هر دلیلی حتی با قصد کمک به حاتم، فقط با صدور مجوز کتبی از طریق روابط
                            عمومی حاتم مجاز است.
                        </div>
                        <div class="w3-col s1 m1 l1"><span
                                class="w3-light-grey w3-circle c-font-large w3-text-amber work-e-step-num"
                                style="">2</span></div>
                    </div>
                    <hr>
                    <div class="w3-row">
                        <div class="w3-col s11 m11 l11 w3-center">
                            حقوق لوگو، تصاویر و اطلاعات موسسات منحصراً متعلق به موسسه ی مربوطه بوده، اقتباس و کپی از
                            آنها به هر دلیلی حتی با قصد کمک به سامانه حاتم و یا موسسه ها، فقط با صدور مجوز و کسب اجازه
                            از موسسات مجاز است.
                        </div>
                        <div class="w3-col s1 m1 l1"><span
                                class="w3-light-grey w3-circle c-font-large w3-text-amber work-e-step-num"
                                style="">3</span></div>
                    </div>
                    <hr>
                    <div class="w3-row">
                        <div class="w3-col s11 m11 l11 w3-center">
                            سامانه حاتم با این باور که تمامی افراد قصد خیر و کمک نیکوکارانه دارند از همه شما عزیزان
                            تقاضا می‌کند در صورتیکه قصد استفاده از نام و لینک حاتم و یا تبلیغ برای حاتم در سایت خود را
                            دارید، این کار را با اطلاع و کسب موافقت حاتم انجام دهید. هر گونه استفاده از نام، لوگو و لینک
                            بدون کسب موافقت کتبی حاتم غیر قانونی بوده و قابل پیگرد قانونی می‌باشد.
                        </div>
                        <div class="w3-col s1 m1 l1"><span
                                class="w3-light-grey w3-circle c-font-large w3-text-amber work-e-step-num"
                                style="">4</span></div>
                    </div>
                    <hr>
                    <div class="w3-row">
                        <div class="w3-col s11 m11 l11 w3-center">
                            حاتم به جز دفتری که مشخصات آن در وبسایت قید شده، شعبه یا دفتر نمایندگی دیگری در ایران یا
                            خارج از ایران ندارد.
                        </div>
                        <div class="w3-col s1 m1 l1"><span
                                class="w3-light-grey w3-circle c-font-large w3-text-amber work-e-step-num"
                                style="">5</span></div>
                    </div>
                    <hr>
                    <div class="w3-row">
                        <div class="w3-col s11 m11 l11 w3-center">
                            مطالب سایت حاتم صرفاً به منظور اطلاع رسانی و معرفی موسسات به اشخاص حقیقی و
                            حقوقی است که مایل به آشنایی، همکاری، کمک رسانی، عضویت و فعالیت داوطلبانه در حوزه‌های مالی،
                            خدماتی و کالایی در پروژه های تعریف شده می‌باشند.
                        </div>
                        <div class="w3-col s1 m1 l1"><span
                                class="w3-light-grey w3-circle c-font-large w3-text-amber work-e-step-num"
                                style="">6</span></div>
                    </div>
                    <hr>
                    <br>
                </div>
                <br>
                <div class="w3-padding w3-border w3-border-amber w3-white w3-text-grey">
                    <h2 class="w3-text-orange w3-center">حاتم و موسسات</h2>
                    <br>
                    <br>
                    <div class="w3-row">
                        <div class="w3-col s11 m11 l11 w3-center">
                            موسسه موظف است کلیه موارد و فیلد های مربوط به پروفایل موسسه را کامل کند در غیر این صورت
                            موسسه امکان فعالیت در سامانه را ندارد.
                        </div>
                        <div class="w3-col s1 m1 l1"><span
                                class="w3-light-grey w3-circle c-font-large w3-text-amber work-e-step-num"
                                style="">1</span></div>
                    </div>
                    <hr>
                    <div class="w3-row">
                        <div class="w3-col s11 m11 l11 w3-center">
                            موسسه بایستی یک شخص را با ذکر منسب به عنوان نماینده ی موسسه به منظور پیگیری و ارتباط با حاتم
                            به سامانه حاتم معرفی کند.
                        </div>
                        <div class="w3-col s1 m1 l1"><span
                                class="w3-light-grey w3-circle c-font-large w3-text-amber work-e-step-num"
                                style="">2</span></div>
                    </div>
                    <hr>
                    <div class="w3-row">
                        <div class="w3-col s11 m11 l11 w3-center">
                            موسسات وظیفه ی تایید و رد درخواست کاربران به منظور فعالیت در پروژه های تعریف شده شان را
                            دارند و کلیه مسؤلیت همکاری موسسات با کاربران با موسسه است.
                        </div>
                        <div class="w3-col s1 m1 l1"><span
                                class="w3-light-grey w3-circle c-font-large w3-text-amber work-e-step-num"
                                style="">3</span></div>
                    </div>
                    <hr>
                    <div class="w3-row">
                        <div class="w3-col s11 m11 l11 w3-center">
                            موسسات بایستی نسبت به درخواست و سوالات کاربران در سامانه حاتم پاسخگو باشند و به پاسخ دهی
                            کاربران در مورد پروژه هایشان و خود موسسه باشند و هر تغییری در شرایط پروژه اعم از متوقف شدن،
                            اتمام، تغییر زمان و غیره را در مشخصات پروژه ی تعریف شده اعمال کنند و به اطلاع داوطلبان
                            برسانند.
                        </div>
                        <div class="w3-col s1 m1 l1"><span
                                class="w3-light-grey w3-circle c-font-large w3-text-amber work-e-step-num"
                                style="">4</span></div>
                    </div>
                    <hr>
                    <div class="w3-row">
                        <div class="w3-col s11 m11 l11 w3-center">
                            موسسه موظف است پس از اتمام هر پروژه گزارشی را از اتفاقات و نتایج پروژه در سایت حاتم ثبت کند
                            تا که کاربران و داوطلبان در جریان اتفاقات و اخبار موسسات و پروژه ها قرار بگیرند و نتیجه ی
                            کار داوطلبانه شان را ببینند، موسسات در صورت عدم ثبت گزارش پروژه های اتمام یافته امکان تعریف
                            پروژه جدید ندارند.
                        </div>
                        <div class="w3-col s1 m1 l1"><span
                                class="w3-light-grey w3-circle c-font-large w3-text-amber work-e-step-num"
                                style="">5</span></div>
                    </div>
                    <hr>
                    <div class="w3-row">
                        <div class="w3-col s11 m11 l11 w3-center">
                            به منظور بهبود و بهره وری بیشتر از فعالیت در سامانه حاتم لازم است موسسات بعد از همکاری با
                            داوطلبین نظر خود در مورد داوطلب ثبت کنند و از سیستم امتیازدهی سامانه برای داوطلبین استفاده
                            کنند.
                        </div>
                        <div class="w3-col s1 m1 l1"><span
                                class="w3-light-grey w3-circle c-font-large w3-text-amber work-e-step-num"
                                style="">6</span></div>
                    </div>
                    <hr>
                    <div class="w3-row">
                        <div class="w3-col s11 m11 l11 w3-center">
                            به منظور بهبود و بهره وری بیشتر از فعالیت در سامانه حاتم لازم است موسسات از کانال های
                            ارتباطی و تبلیغاتی شان همچون کانال و گروه های تلگرامی موسسه، صفحات موسسه در فضای مجازی و
                            سایت موسسه برای معرفی پروژه هایشان در سامانه حاتم استفاده کنند.
                        </div>
                        <div class="w3-col s1 m1 l1"><span
                                class="w3-light-grey w3-circle c-font-large w3-text-amber work-e-step-num"
                                style="">7</span></div>
                    </div>
                    <hr>
                    <div class="w3-row">
                        <div class="w3-col s11 m11 l11 w3-center">
                            موسساتی که در سامانه و در انجام موارد ذکر شده بیشتر فعالیت کنند پروژه هایشان و پروفایل خود
                            موسسه در سامانه حاتم در مکان بالاتری قرار می گیرد.
                        </div>
                        <div class="w3-col s1 m1 l1"><span
                                class="w3-light-grey w3-circle c-font-large w3-text-amber work-e-step-num"
                                style="">8</span></div>
                    </div>
                    <hr>
                    <div class="w3-row">
                        <div class="w3-col s11 m11 l11 w3-center">
                            اگر موسسات موارد ضروری ذکر شده را رعایت نکنند و بعد از ارسال تذکر از سوی سامانه حاتم به
                            اصلاح رویه نپردازند، امکان فعالیت در سامانه حاتم از موسسه ثلب می شود.
                        </div>
                        <div class="w3-col s1 m1 l1"><span
                                class="w3-light-grey w3-circle c-font-large w3-text-amber work-e-step-num"
                                style="">9</span></div>
                    </div>
                    <hr>
                    <br>
                </div>
                <br>
                <div class="w3-padding w3-border w3-border-amber w3-white w3-text-grey">
                    <br>
                    <h2 class="w3-text-orange w3-center">حاتم و مددکاران</h2>
                    <br>
                    <br>
                    <div class="w3-row">
                        <div class="w3-col s11 m11 l11 w3-center">کاربر موظف است در هنگام ثبت درخواست همکاری در پروژه
                            شرایط ذکر
                            شده در توضیحات پروژه را دارا باشد و از امکان فعالیتش در پروژه مطمئن باشد و در صورت ایجاد هر
                            تغییری در شرایط داوطلب بایستی در سریع ترین زمان به اطلاع موسسه ای که پروژه را تعریف کرده است
                            برساند.
                        </div>
                        <div class="w3-col s1 m1 l1"><span
                                class="w3-light-grey w3-circle c-font-large w3-text-amber work-e-step-num"
                                style="">1</span></div>
                    </div>
                    <hr>
                    <div class="w3-row">
                        <div class="w3-col s11 m11 l11 w3-center">
                            به منظور بهبود و بهره وری بیشتر از فعالیت در سامانه حاتم لازم است داوطلب بعد از همکاری با
                            موسسه از سیستم امتیازدهی سامانه برای امتیازدهی موسسه استفاده کند و تجربه و نظر خود در مورد
                            پروژه و موسسه را در سامانه ثبت کند، در صورت عدم ثبت امتیاز و نظر در اتمام پروژه کاربر امکان
                            ارسال درخواست فعالیت در پروژه ای جدید را ندارد.
                        </div>
                        <div class="w3-col s1 m1 l1"><span
                                class="w3-light-grey w3-circle c-font-large w3-text-amber work-e-step-num"
                                style="">2</span></div>
                    </div>
                    <hr>
                    <div class="w3-row">
                        <div class="w3-col s11 m11 l11 w3-center">
                            در بررسی درخواست کاربران و داوطلبان برای فعالیت در پروژه ها، کاربرانی که امتیاز بیشتر و
                            میزان فعالیت بیشتری در سامانه حاتم را داشته باشند در اولویت قرار می گیرند.
                        </div>
                        <div class="w3-col s1 m1 l1"><span
                                class="w3-light-grey w3-circle c-font-large w3-text-amber work-e-step-num"
                                style="">3</span></div>
                    </div>
                    <hr>
                    <div class="w3-row">
                        <div class="w3-col s11 m11 l11 w3-center">
                            به منظور بهبود و بهره وری بیشتر از فعالیت در سامانه حاتم، تیم حاتم در صورت بروز هر مشکلی در
                            زمینه فعالیت در سامانه و یا همکاری با موسسات پیگیر است، در صورت رؤیت هرگونه مشکل و تخلفی از
                            طریق راه های ارتباطی تیم حاتم را مطلع کنید تا به اصلاح رویه های غلط بپردازیم.
                        </div>
                        <div class="w3-col s1 m1 l1"><span
                                class="w3-light-grey w3-circle c-font-large w3-text-amber work-e-step-num"
                                style="">4</span></div>
                    </div>
                    <hr>
                </div>
                <br>
            </div>
            <div class="w3-col l2 m1 c-height-1-px"></div>
        </div>
    </div>
{% endblock content %}
{% block footer %}
    {% include 'footer.html' %}
{% endblock footer %}