{% extends 'base.html' %}
{% load staticfiles %}
{% block styles %}

{% endblock styles %}
{% block scripts %}
{% endblock %}
{% block _navbar %}
    {% include 'header.html' with active_link='all' %}
{% endblock %}
{% block content %}
    <div class="w3-container w3-light-grey w3-text-grey w3-animate-opacity" dir="rtl">
        <br>
        <br>
        <h1 class="w3-center w3-text-orange">درباره حاتم</h1>
        <br>
        <br>
        <div class="w3-row">
            <div class="w3-col s1 m2 l2" style="height: 10px"></div>
            <div class="w3-col s10 m8 l8 w3-border-amber w3-border w3-padding w3-white">
                <br>
                <br>
                <div dir="rtl" style="text-indent: 1em;" class="w3-text-grey"
                >
                    <p>
                        حاتم یک پلتفرم و سامانه ی هوشمند برای برقراری ارتباطی مؤثر تر بین خیرین و داوطلبان با موسسات
                        مردم نهاد است که به صورت حمایت و فعالیت داوطلبانه در سه زمینه ی مالی، خدمات و کالایی در پروژه
                        های تعریف شده از سوی موسسه ها صورت می گیرد.
                    </p>
                    <p>
                        حاتم توسط جمعی از دانشجویان دانشگاه صنعتی شریف با حمایت کامل دانشگاه شکل گرفته است، مشاهدات و
                        تجربیات ما گواه بر این بود که در زمینه های گوناگونی می توان در کمک و توانمندسازی مددجویان کار و
                        فعالیت کرد و با اینکه موسسات زیادی در زمینه های گوناگونی مثل کودک کار، اتیسم، محیط زیست و… در
                        حال فعالیت هستند حلقه ای مفقوده بین موسسات و داوطلبین مشاهده می شد، گویا در پیدا کردن هم مشکلی
                        وجود دارند، پتانسیل هایی که دارند به علل مختلف از دست می روند، همگی در اطرافمان افراد زیادی را
                        که هریک تخصصی دارند می بینیم که علاقه به فعالیت های بشر دوستانه دارند اما به علت مشغله و اینکه
                        پیدا کردن پروژه و کار خیرخواهانه ای که با تخصص و شرایط زمانی شخص همسو باشد کاری دشوار است و با
                        قرار گرفتن در روزمره گی تقریبا به کاری بسیار غیر ممکن تبدیل می شود از سویی هم مؤسسات برای معرفی
                        و شناساندن خود به عموم با محدودیت هایی همچون بودجه و کانال های ارتباطی رو به رو هستند، هدف اصلی
                        از تشکیل حاتم پرکردن جای آن حلقه مفقوده است.
                    </p>
                    <p>
                        هدف از ایجاد حاتم بهره وری از افراد متخصص و افزایش فعالیت داوطلبانه و حمایتی برای اهداف
                        بشردوستانه است که در کنار کمک به مددجویان در جلا بخشیدن به روح و قلب داوطلب تأثیر شایانی دارد و
                        مؤسسات می توانند با فعالیت در بستر حاتم خود را تقویت کنند و به اهدافشان نزدیک تر شوند، اهدافی که
                        در منشور اهداف حاتم ذکر شده است و تمامی مؤسسات حاظر در سامانه آن را قبول دارند.
                    </p>
                </div>
                <br>
                <br>
                <div class="">
                    <img class="c-border-light-grey-3 c-width-100" src={% static 'this_project/img/hatam-camp/jahadi10.jpg' %}>
                </div>
                <br>
            </div>
            <div class="w3-col s1 m2 l2" style="height: 10px"></div>
        </div>
    <br>
    <br>
    </div>
{% endblock content %}
{% block footer %}
    {% include 'footer.html' %}
{% endblock footer %}