{% extends 'base.html' %}
{% load staticfiles %}
{% block _navbar %}
    {% include 'header.html' with active_link='all' %}
{% endblock %}
{% block scripts %}
    <script>
        var p_f_t_input = 0;
        window.onload = function () {
            var reagent = 'add_project';
            AjaxGetHType(reagent);
            {#            AjaxGetLoc(reagent);#}
            var t1 = "{{ form.instance.help_type1.title }}";
            var t2 = "{{ form.instance.help_type2.title }}";
            var t3 = "{{ form.instance.help_type3.title }}";
            if (t1) {
                $('#p_f_t_btn').append('<div id="h_t1" class="w3-btn w3-padding w3-green w3-margin-left c-overflow-hidden">' + t1 + '' +
                    '<span id="h_t1_d" class="w3-closebtn"><i class="fa fa-times" aria-hidden="true"></i></span></div>');
            }
            if (t2) {
                $('#p_f_t_btn').append('<div id="h_t2" class="w3-btn w3-padding w3-green w3-margin-left c-overflow-hidden">' + t2 + '' +
                    '<span id="h_t2_d" class="w3-closebtn"><i class="fa fa-times" aria-hidden="true"></i></span></div>');
            }

            if (t3) {
                $('#p_f_t_btn').append('<div id="h_t3" class="w3-btn w3-padding w3-green w3-margin-left c-overflow-hidden">' + t3 + '' +
                    '<span id="h_t3_d" class="w3-closebtn"><i class="fa fa-times" aria-hidden="true"></i></span></div>');
            }
            var loc_ph = "{{ form.instance.location.title }}";
            $('#p_f_c_btn').attr('value', loc_ph);
        };
        $('body').on('click', '.p_f_c_op_0', function () {
            var c_f_id = $(this).children('input').val();
            var c_title = $(this).children('span').text();
            $('#id_location').val(c_f_id);
            $('#p_f_c_btn').attr('value', c_title);
        });
    </script>
    <script src="{% static 'this_project/js/for forms/for forms.js' %}"></script>
    {#    //******************************************get_type ajax***************************************//#}
    <script src="{% static 'this_project/js/ajax-get-h-type.js' %}">
    </script>
    {#    //******************************************get_type ajax***************************************//#}
    {#    //******************************************get_loc ajax***************************************//#}
    <script src="{% static 'this_project/js/ajax-get-loc.js' %}">
    </script>
    {#    //******************************************get_loc ajax***************************************//#}
    <script src="{% static 'datepicker/js/prism.js' %}"></script>
    <script src="{% static 'datepicker/js/vertical-responsive-menu.min.js' %}"></script>
    <script src="{% static 'datepicker/js/jquery-1.10.1.min.js' %}"></script>
    <script src="{% static 'datepicker/js/persianDatepicker.min.js' %}"></script>
    <script src="{% static 'this_project/js/add-institute/add-institute.js' %}">
    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRAEzWa8J41flFbdXsy6jq7MPHOUrOYkA&callback=initMap">
    </script>
    <script>
        var marker, iLat, iLng;
        function initMap() {
            iLat = "{{ form.instance.lat }}";
            iLng = "{{ form.instance.lng }}";
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 11,
                center: {lat: 35.763, lng: 51.388}
            });
            marker = new google.maps.Marker({
                map: map,
                draggable: true,
                animation: google.maps.Animation.DROP,
                position: {lat: 35.763, lng: 51.388},
                icon: 'http://maps.google.com/mapfiles/ms/micons/blue.png'
            });
            if (iLat !== 'None') {
                if (iLng !== 'None') {
                    var iLatLng = new google.maps.LatLng(iLat, iLng);
                    map.setCenter(iLatLng);
                    marker.setPosition(iLatLng);
                }
            }
            marker.addListener('click', toggleBounce);
            var geocoder = new google.maps.Geocoder();
            document.getElementById('geo_coder_submit').addEventListener('click', function () {
                geocodeAddress(geocoder, map);
            });
        }
        function toggleBounce() {
            $("#id_lat").val(marker.position.lat());
            $("#id_lng").val(marker.position.lng());
            alert('موقعیت مکانی انتخاب شد.')
        }
        function geocodeAddress(geocoder, resultsMap) {
            var address = document.getElementById('address').value;
            geocoder.geocode({'address': address}, function (results, status) {
                if (status === 'OK') {
                    resultsMap.setCenter(results[0].geometry.location);
                    var Mlatlng = new google.maps.LatLng(results[0].geometry.location.lat(), results[0].geometry.location.lng());
                    marker.setPosition(Mlatlng);
                    resultsMap.setZoom(14)
                } else {
                    alert('آدرس مورد نظر پیدا نشد.');
                }
            });
        }
        var w = $('#side_map').height();
        $('#map').css('height', w - 30 + 'px');
    </script>

    {#################################for change value#########################}
    {#################################for change value#########################}

{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'datepicker/css/persianDatepicker-default.css' %}"/>
    <link href="{% static 'datepicker/css/normalize.css' %}" rel='stylesheet'/>
    <link href="{% static 'datepicker/css/fontawesome/css/font-awesome.min.css' %}" rel='stylesheet'/>
    <link href="{% static 'datepicker/css/vertical-responsive-menu.min.css' %}" rel="stylesheet"/>
    {#        <link href="{% static 'datepicker/css/style.css' %}" rel="stylesheet"/>#}
    <link href="{% static 'datepicker/css/prism.css' %}" rel="stylesheet"/>
    <link rel="stylesheet" href="{% static 'datepicker/css/persianDatepicker-default.css' %}"/>
    <link rel="stylesheet" href="{% static 'datepicker/css/persianDatepicker-dark.css' %}"/>
    <link rel="stylesheet" href="{% static 'datepicker/css/persianDatepicker-latoja.css' %}"/>
    <link rel="stylesheet" href="{% static 'datepicker/css/persianDatepicker-melon.css' %}"/>
    <link rel="stylesheet" href="{% static 'datepicker/css/persianDatepicker-lightorang.css' %}"/>
{% endblock styles %}
{% block content %}
    <!------------------------------------------------------------------>
    <div
            id=""
            class="w3-display-container w3-light-grey c-overflow-hidden w3-text-grey">
        {#        <div class="w3-display-container w3-display-middle w3-large w3-black"#}
        {#             style="width: 100%; height: 100%;opacity: .55">#}
        {#        </div>#}
        <form id="form" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div id="last_slide" style="min-height: 100vh"
                 class="mySlides w3-responsive w3-animate-zoom w3-display-container c-width-100">
                <br>
                <br>
                {% if not form.instance.title %}
                    <div class="w3-container">
                        <div dir="rtl" id="first-note" style="display: block" class="w3-modal w3-animate-opacity">
                            <div class="w3-modal-content w3-card-8 c-radius-5 w3-text-grey">
                                <header class="w3-container w3-teal c-radius-5 w3-padding-12">
            <span onclick="document.getElementById('first-note').style.display='none'"
                  class="w3-closebtn">&times;</span>
                                    <div class="w3-center">
                                        سلام {{ user.username }}
                                    </div>
                                </header>
                                <div class="w3-container w3-padding-24 c-radius-5 w3-center">
                                    <p>
                                        تا این لحظه شما تشکیل حساب کاربری داده اید. برای تکمیل فرایند ثبت موسسه لطفا فرم
                                        این صفحه را پر کنید.
                                    </p>
                                </div>
                                <footer class=" w3-container w3-teal w3-padding-12">
                                </footer>
                            </div>
                        </div>
                    </div>
                {% endif %}
            <div class="w3-row">
                {#                    <div class="w3-col m1 l2 c-height-1-px"></div>#}
                <div class="w3-col s12 m12 l12 w3-row">
                    <div id="side_map" class="w3-row w3-col s12 m12 l8">
                        <div class="w3-col s12 m6 l6">
                            <div class="">
                                <div class="w3-text-green w3-col s12 m12 l12 w3-padding">
                                    <div class="w3-row">
                                        <div class="w3-col s12 m12 l12 w3-tooltip">
                                            <i class="fa fa-asterisk w3-text-red"
                                               aria-hidden="true"></i>{{ form.title.label }}:
                                            <div class="w3-text-grey">{{ form.title }}</div>{{ form.title.errors }}
                                            <div class="w3-text w3-teal w3-padding
                                             input__tTip_main_divs w3-round w3-card-4">این فیلد الزامی است.</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="w3-text-green w3-col s12 m12 l12 w3-padding">
                                    <div class="w3-row">
                                        <div class="w3-col s12 m12 l12">
                                            {{ form.patent_num.label }}:
                                            <div class="w3-text-grey">{{ form.patent_num }}</div>{{ form.patent_num.errors }}</div>
                                    </div>
                                </div>
                                <div class="w3-text-green w3-col s12 m12 l12 w3-padding">
                                    <div class="w3-row">
                                        <div class="w3-col s12 m12 l12">
                                            {{ form.establishment_date.label }}:
                                            <div class="w3-text-grey">{{ form.establishment_date }}</div>{{ form.establishment_date.errors }}</div>
                                    </div>
                                </div>
                                <div class="w3-text-green w3-col s12 m12 l12 w3-padding">
                                    <div class="w3-row">
                                        <div class="w3-col s12 m12 l12 w3-tooltip">
                                            <i class="fa fa-asterisk w3-text-red"
                                               aria-hidden="true"></i>{{ form.phone_num.label }}:
                                            <div class="w3-text-grey">{{ form.phone_num }}</div>{{ form.phone_num.errors }}
                                        <div class="w3-text w3-teal w3-padding
                                             input__tTip_main_divs w3-round w3-card-4">این فیلد الزامی است.</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="w3-text-green w3-col s12 m12 l12 w3-padding">
                                    <div class="w3-row">
                                        <div class="w3-col s12 m12 l12 w3-tooltip">
                                            <i class="fa fa-asterisk w3-text-red"
                                               aria-hidden="true"></i>زمینه های کاری:
                                            <div class="w3-col s12 m12 l12 w3-dropdown-hover w3-center">
                                                <div type="button"
                                                     class=" w3-text-grey w3-white w3-padding-16 c-radius-5 w3-input p_f_input"
                                                     id="p_f_t_btn">
                                                </div>
                                                <div id="p_filter_type_select"
                                                     class="w3-white w3-dropdown-content"
                                                     style=" width:100%; z-index:2">
                                                    <input type="hidden" value="0" class="p_f_input"
                                                           id="p_f_t_input">
                                                </div>
                                                <div>{{ form.help_type.errors }}</div>
                                            </div>
                                            <div class="w3-text w3-teal w3-padding
                                             input__tTip_main_divs w3-round w3-card-4">شما می توانید ۳ مورد از زمینه های کاری خود رانتخاب کنید.</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="w3-col s12 m6 l6">
                            <div class="">
                                <div class="w3-text-green w3-col s12 m12 l12 w3-padding">
                                    <div class="w3-row">
                                        <div class="w3-col s12 m12 l12">
                                            {{ form.post_code.label }}:
                                            <div class="w3-text-grey">{{ form.post_code }}</div>{{ form.post_code.errors }}</div>
                                    </div>
                                </div>
                                <div class="w3-text-green w3-col s12 m12 l12 w3-padding">
                                    <div class="w3-row">
                                        <div class="w3-col s12 m12 l12">
                                            {{ form.address.label }}:
                                            <div class="w3-text-grey">{{ form.address }}</div>{{ form.address.errors }}</div>
                                    </div>
                                </div>
                                <div class="w3-text-green w3-col s12 m12 l12 w3-padding">
                                    <div class="w3-row">
                                        <div class="w3-col s12 m12 l12 w3-tooltip"><i
                                                class="fa fa-asterisk w3-text-red"
                                                aria-hidden="true"></i>
                                            {{ form.agent.label }}:
                                            <div class="w3-text-grey">{{ form.agent }}</div>{{ form.agent.errors }}
                                        <div style="top: -40px" class="w3-text w3-teal w3-padding
                                             input__tTip_main_divs w3-round w3-card-4">این فیلد الزامی است. <br> این شخص رابط بین موسسه و حاتم میباشد.</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="w3-text-green w3-col s12 m12 l12 w3-padding">
                                    <div class="w3-row">
                                        <div class="w3-col s12 m12 l12  w3-tooltip"><i
                                                class="fa fa-asterisk w3-text-red"
                                                aria-hidden="true"></i>
                                            {{ form.agent_job.label }}:
                                            <div class="w3-text-grey">{{ form.agent_job }}</div>{{ form.agent_job.errors }}
                                        <div style="top: -40px" class="w3-text w3-teal w3-padding
                                             input__tTip_main_divs w3-round w3-card-4">این فیلد الزامی است. <br> این شخص رابط بین موسسه و حاتم میباشد.</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="w3-text-green w3-col s12 m12 l12 w3-padding">
                                    <div class="w3-col s12 m12 l12 w3-tooltip"><i
                                            class="fa fa-asterisk w3-text-red"
                                            aria-hidden="true"></i>
                                        {{ form.agent_num.label }}:
                                        <div class="w3-text-grey">{{ form.agent_num }}</div>{{ form.agent_num.errors }}
                                        <div style="top: -40px" class="w3-text w3-teal w3-padding
                                             input__tTip_main_divs w3-round w3-card-4">این فیلد الزامی است. <br> این شخص رابط بین موسسه و حاتم میباشد.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="w3-col s12 m12 l4 w3-padding">
                        <div class="w3-text-blue-grey w3-padding w3-tooltip w3-col l12">
                            <i class="fa fa-asterisk w3-text-red" aria-hidden="true"></i>
                            <div id="map" class="w3-round"></div>
                            {{ form.lat.errors }}
                            <div style="top: -40px" class="w3-text w3-teal w3-padding
                                             input__tTip_main_divs w3-round w3-card-4">این فیلد الزامی است. <br> لطفا را در محل مورد نظرتان قرار دهید و روی آن کلیک کنید.</div>
                        </div>
                    </div>
                    <div class="w3-col s12 m12 l12">
                        <div class="c-overflow-hidden" style="height: 0px">
                            {{ form.help_type1 }}{{ form.help_type2 }}{{ form.help_type3 }}{{ form.lat }}{{ form.lng }}
                        </div>
                    </div>
                    <div class="w3-col l12 m12 s12 w3-row">
                        <div class="w3-center w3-text-green w3-col s12 m12 l12 w3-padding">
                            <div class="w3-row">
                                <div class="w3-col m1 l2 c-height-1-px"></div>
                                <div class="w3-col s12 m10 l8 w3-padding">{{ form.explanation.label }}:
                                    <div class="w3-text-grey"> {{ form.explanation }}</div>{{ form.explanation.errors }}</div>
                                <div class="w3-col m1 l2 c-height-1-px"></div>
                            </div>
                        </div>
                    </div>
                    <div class="w3-center w3-text-green w3-col s12 m12 l12 w3-padding">
                        <div class="w3-row">
                            <div class="w3-col m2 l3 c-height-1-px"></div>
                            <div class="w3-col s12 m8 l6 w3-tooltip"><i class="fa fa-asterisk w3-text-red"
                                                             aria-hidden="true"></i>{{ form.profile_image.label }}: {{ form.profile_image.help_text }}
                                {{ form.profile_image }}{{ form.profile_image.errors }}
                            <div class="w3-text w3-teal w3-padding
                                             input__tTip_main_divs w3-round w3-card-4">این فیلد الزامی است</div>
                            </div>
                            <div class="w3-col m2 l3 c-height-1-px"></div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="w3-row">
                <div class="w3-col s3 m5 l5 c-height-1-px"></div>
                <div class="w3-col s6 m2 l2">
                    <button type="submit"
                            class="w3-padding c-width-100 w3-btn w3-teal w3-round w3-display-right">
                        ثبت اطلاعات
                    </button>
                </div>
                <div class="w3-col m5 l5 c-height-1-px"></div>
            </div>
            <br>
            <br>
    </div>
    </form>
    </div>
    <!------------------------------------------------------------------>
{% endblock %}