{% extends 'base.html' %}
{% load staticfiles %}
{% block _navbar %}
    {% include 'header.html' with active_link=404 %}
{% endblock %}
{% block scripts %}
{% endblock %}
{% block styles %}
{% endblock styles %}
{% block content %}
    <div style="height: 100vh" class="w3-light-grey">
        <br>
        <br>
        <div class="w3-text-grey">
            <h2 class="w3-text-teal w3-center">سلام کاربر محترم</h2>
            <br>
            <div class="w3-row">
                <div class="w3-col m2 l3 c-height-1-px"></div>
                <div class="w3-col m8 l6 w3-padding w3-center">سامانه حاتم در توسعه و ساخت میباشد. لطفا برای کمک به ارتقاء سامانه آمدن خود به این صفحه را به پشتیبانی فنی سامانه گزارش کنید.
                    <br>اروجی: 09308276757<br>با استفاده از منوی بالا میتوانید به دیگر نقاط سامانه دسترسی داشته باشید.
                </div>
                <div class="w3-col m2 l3 c-height-1-px"></div>
            </div>
        </div>
    </div>
{% endblock %}